<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.AppEquipmentLoginMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLogin" >
    <id column="equipment_no" property="equipmentNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_log" property="userLog" jdbcType="VARCHAR" />
    <result column="info1" property="info1" jdbcType="VARCHAR" />
    <result column="info2" property="info2" jdbcType="VARCHAR" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipment_no, user_id, user_name, user_log, info1, info2, raw_update_time, raw_add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLoginExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_equipment_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from app_equipment_login
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_equipment_login
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLoginExample" >
    delete from app_equipment_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLogin" >
    insert into app_equipment_login (equipment_no, user_id, user_name, 
      user_log, info1, info2, 
      raw_update_time, raw_add_time)
    values (#{equipmentNo,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userLog,jdbcType=VARCHAR}, #{info1,jdbcType=VARCHAR}, #{info2,jdbcType=VARCHAR}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP}, #{rawAddTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLogin" >
    insert into app_equipment_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipmentNo != null" >
        equipment_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userLog != null" >
        user_log,
      </if>
      <if test="info1 != null" >
        info1,
      </if>
      <if test="info2 != null" >
        info2,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipmentNo != null" >
        #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userLog != null" >
        #{userLog,jdbcType=VARCHAR},
      </if>
      <if test="info1 != null" >
        #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null" >
        #{info2,jdbcType=VARCHAR},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLoginExample" resultType="java.lang.Integer" >
    select count(*) from app_equipment_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update app_equipment_login
    <set >
      <if test="record.equipmentNo != null" >
        equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userLog != null" >
        user_log = #{record.userLog,jdbcType=VARCHAR},
      </if>
      <if test="record.info1 != null" >
        info1 = #{record.info1,jdbcType=VARCHAR},
      </if>
      <if test="record.info2 != null" >
        info2 = #{record.info2,jdbcType=VARCHAR},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update app_equipment_login
    set equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_log = #{record.userLog,jdbcType=VARCHAR},
      info1 = #{record.info1,jdbcType=VARCHAR},
      info2 = #{record.info2,jdbcType=VARCHAR},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLogin" >
    update app_equipment_login
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userLog != null" >
        user_log = #{userLog,jdbcType=VARCHAR},
      </if>
      <if test="info1 != null" >
        info1 = #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null" >
        info2 = #{info2,jdbcType=VARCHAR},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.AppEquipmentLogin" >
    update app_equipment_login
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_log = #{userLog,jdbcType=VARCHAR},
      info1 = #{info1,jdbcType=VARCHAR},
      info2 = #{info2,jdbcType=VARCHAR},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP}
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </update>
</mapper>