<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.FileElecCertificateMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificate" >
    <id column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="preservation_id" property="preservationId" jdbcType="VARCHAR" />
    <result column="docHash" property="dochash" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="preservation_time" property="preservationTime" jdbcType="TIMESTAMP" />
    <result column="link_expire_time" property="linkExpireTime" jdbcType="TIMESTAMP" />
    <result column="local_link" property="localLink" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    file_key, preservation_id, docHash, link, raw_add_time, preservation_time, link_expire_time, 
    local_link
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file_elec_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file_elec_certificate
    where file_key = #{fileKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file_elec_certificate
    where file_key = #{fileKey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificateExample" >
    delete from file_elec_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificate" >
    insert into file_elec_certificate (file_key, preservation_id, docHash, 
      link, raw_add_time, preservation_time, 
      link_expire_time, local_link)
    values (#{fileKey,jdbcType=VARCHAR}, #{preservationId,jdbcType=VARCHAR}, #{dochash,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, #{preservationTime,jdbcType=TIMESTAMP}, 
      #{linkExpireTime,jdbcType=TIMESTAMP}, #{localLink,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificate" >
    insert into file_elec_certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileKey != null" >
        file_key,
      </if>
      <if test="preservationId != null" >
        preservation_id,
      </if>
      <if test="dochash != null" >
        docHash,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="preservationTime != null" >
        preservation_time,
      </if>
      <if test="linkExpireTime != null" >
        link_expire_time,
      </if>
      <if test="localLink != null" >
        local_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileKey != null" >
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="preservationId != null" >
        #{preservationId,jdbcType=VARCHAR},
      </if>
      <if test="dochash != null" >
        #{dochash,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preservationTime != null" >
        #{preservationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkExpireTime != null" >
        #{linkExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="localLink != null" >
        #{localLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificateExample" resultType="java.lang.Integer" >
    select count(*) from file_elec_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update file_elec_certificate
    <set >
      <if test="record.fileKey != null" >
        file_key = #{record.fileKey,jdbcType=VARCHAR},
      </if>
      <if test="record.preservationId != null" >
        preservation_id = #{record.preservationId,jdbcType=VARCHAR},
      </if>
      <if test="record.dochash != null" >
        docHash = #{record.dochash,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null" >
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preservationTime != null" >
        preservation_time = #{record.preservationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.linkExpireTime != null" >
        link_expire_time = #{record.linkExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.localLink != null" >
        local_link = #{record.localLink,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update file_elec_certificate
    set file_key = #{record.fileKey,jdbcType=VARCHAR},
      preservation_id = #{record.preservationId,jdbcType=VARCHAR},
      docHash = #{record.dochash,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      preservation_time = #{record.preservationTime,jdbcType=TIMESTAMP},
      link_expire_time = #{record.linkExpireTime,jdbcType=TIMESTAMP},
      local_link = #{record.localLink,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificate" >
    update file_elec_certificate
    <set >
      <if test="preservationId != null" >
        preservation_id = #{preservationId,jdbcType=VARCHAR},
      </if>
      <if test="dochash != null" >
        docHash = #{dochash,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preservationTime != null" >
        preservation_time = #{preservationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkExpireTime != null" >
        link_expire_time = #{linkExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="localLink != null" >
        local_link = #{localLink,jdbcType=VARCHAR},
      </if>
    </set>
    where file_key = #{fileKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.FileElecCertificate" >
    update file_elec_certificate
    set preservation_id = #{preservationId,jdbcType=VARCHAR},
      docHash = #{dochash,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      preservation_time = #{preservationTime,jdbcType=TIMESTAMP},
      link_expire_time = #{linkExpireTime,jdbcType=TIMESTAMP},
      local_link = #{localLink,jdbcType=VARCHAR}
    where file_key = #{fileKey,jdbcType=VARCHAR}
  </update>
</mapper>