<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.GiftMoneyRuleMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRule" >
    <id column="gift_rule_id" property="giftRuleId" jdbcType="BIGINT" />
    <result column="gift_id" property="giftId" jdbcType="BIGINT" />
    <result column="gift_rule_name" property="giftRuleName" jdbcType="VARCHAR" />
    <result column="rule_type" property="ruleType" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="rule_amount" property="ruleAmount" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="create_userid" property="createUserid" jdbcType="BIGINT" />
    <result column="create_username" property="createUsername" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gift_rule_id, gift_id, gift_rule_name, rule_type, type, status, rule, rule_amount, 
    amount, create_userid, create_username, raw_add_time, raw_update_time, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gift_money_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gift_money_rule
    where gift_rule_id = #{giftRuleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gift_money_rule
    where gift_rule_id = #{giftRuleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRuleExample" >
    delete from gift_money_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRule" >
    insert into gift_money_rule (gift_rule_id, gift_id, gift_rule_name, 
      rule_type, type, status, 
      rule, rule_amount, amount, 
      create_userid, create_username, raw_add_time, 
      raw_update_time, description)
    values (#{giftRuleId,jdbcType=BIGINT}, #{giftId,jdbcType=BIGINT}, #{giftRuleName,jdbcType=VARCHAR}, 
      #{ruleType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{rule,jdbcType=VARCHAR}, #{ruleAmount,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRule" >
    insert into gift_money_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="giftRuleId != null" >
        gift_rule_id,
      </if>
      <if test="giftId != null" >
        gift_id,
      </if>
      <if test="giftRuleName != null" >
        gift_rule_name,
      </if>
      <if test="ruleType != null" >
        rule_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="rule != null" >
        rule,
      </if>
      <if test="ruleAmount != null" >
        rule_amount,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createUserid != null" >
        create_userid,
      </if>
      <if test="createUsername != null" >
        create_username,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="giftRuleId != null" >
        #{giftRuleId,jdbcType=BIGINT},
      </if>
      <if test="giftId != null" >
        #{giftId,jdbcType=BIGINT},
      </if>
      <if test="giftRuleName != null" >
        #{giftRuleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null" >
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="ruleAmount != null" >
        #{ruleAmount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null" >
        #{createUserid,jdbcType=BIGINT},
      </if>
      <if test="createUsername != null" >
        #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRuleExample" resultType="java.lang.Integer" >
    select count(*) from gift_money_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gift_money_rule
    <set >
      <if test="record.giftRuleId != null" >
        gift_rule_id = #{record.giftRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.giftId != null" >
        gift_id = #{record.giftId,jdbcType=BIGINT},
      </if>
      <if test="record.giftRuleName != null" >
        gift_rule_name = #{record.giftRuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleType != null" >
        rule_type = #{record.ruleType,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.rule != null" >
        rule = #{record.rule,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleAmount != null" >
        rule_amount = #{record.ruleAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserid != null" >
        create_userid = #{record.createUserid,jdbcType=BIGINT},
      </if>
      <if test="record.createUsername != null" >
        create_username = #{record.createUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gift_money_rule
    set gift_rule_id = #{record.giftRuleId,jdbcType=BIGINT},
      gift_id = #{record.giftId,jdbcType=BIGINT},
      gift_rule_name = #{record.giftRuleName,jdbcType=VARCHAR},
      rule_type = #{record.ruleType,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      rule = #{record.rule,jdbcType=VARCHAR},
      rule_amount = #{record.ruleAmount,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      create_userid = #{record.createUserid,jdbcType=BIGINT},
      create_username = #{record.createUsername,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRule" >
    update gift_money_rule
    <set >
      <if test="giftId != null" >
        gift_id = #{giftId,jdbcType=BIGINT},
      </if>
      <if test="giftRuleName != null" >
        gift_rule_name = #{giftRuleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null" >
        rule_type = #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="rule != null" >
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="ruleAmount != null" >
        rule_amount = #{ruleAmount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null" >
        create_userid = #{createUserid,jdbcType=BIGINT},
      </if>
      <if test="createUsername != null" >
        create_username = #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where gift_rule_id = #{giftRuleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.GiftMoneyRule" >
    update gift_money_rule
    set gift_id = #{giftId,jdbcType=BIGINT},
      gift_rule_name = #{giftRuleName,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      rule = #{rule,jdbcType=VARCHAR},
      rule_amount = #{ruleAmount,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where gift_rule_id = #{giftRuleId,jdbcType=BIGINT}
  </update>
</mapper>