<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.HiTestingAnswerOneMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOne" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="testing_question_id" property="testingQuestionId" jdbcType="BIGINT" />
    <result column="answer_text_one" property="answerTextOne" jdbcType="VARCHAR" />
    <result column="answer_text_two" property="answerTextTwo" jdbcType="VARCHAR" />
    <result column="answer_text_three" property="answerTextThree" jdbcType="VARCHAR" />
    <result column="answer_text_four" property="answerTextFour" jdbcType="VARCHAR" />
    <result column="img_url_one" property="imgUrlOne" jdbcType="VARCHAR" />
    <result column="img_url_two" property="imgUrlTwo" jdbcType="VARCHAR" />
    <result column="img_url_three" property="imgUrlThree" jdbcType="VARCHAR" />
    <result column="img_url_four" property="imgUrlFour" jdbcType="VARCHAR" />
    <result column="voice_one" property="voiceOne" jdbcType="VARCHAR" />
    <result column="voice_two" property="voiceTwo" jdbcType="VARCHAR" />
    <result column="voice_three" property="voiceThree" jdbcType="VARCHAR" />
    <result column="voice_four" property="voiceFour" jdbcType="VARCHAR" />
    <result column="is_correct_answer" property="isCorrectAnswer" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, testing_question_id, answer_text_one, answer_text_two, answer_text_three, answer_text_four, 
    img_url_one, img_url_two, img_url_three, img_url_four, voice_one, voice_two, voice_three, 
    voice_four, is_correct_answer, status, memo, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOneExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hi_testing_answer_one
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hi_testing_answer_one
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hi_testing_answer_one
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOneExample" >
    delete from hi_testing_answer_one
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOne" >
    insert into hi_testing_answer_one (id, testing_question_id, answer_text_one, 
      answer_text_two, answer_text_three, answer_text_four, 
      img_url_one, img_url_two, img_url_three, 
      img_url_four, voice_one, voice_two, 
      voice_three, voice_four, is_correct_answer, 
      status, memo, raw_add_time, 
      raw_update_time)
    values (#{id,jdbcType=BIGINT}, #{testingQuestionId,jdbcType=BIGINT}, #{answerTextOne,jdbcType=VARCHAR}, 
      #{answerTextTwo,jdbcType=VARCHAR}, #{answerTextThree,jdbcType=VARCHAR}, #{answerTextFour,jdbcType=VARCHAR}, 
      #{imgUrlOne,jdbcType=VARCHAR}, #{imgUrlTwo,jdbcType=VARCHAR}, #{imgUrlThree,jdbcType=VARCHAR}, 
      #{imgUrlFour,jdbcType=VARCHAR}, #{voiceOne,jdbcType=VARCHAR}, #{voiceTwo,jdbcType=VARCHAR}, 
      #{voiceThree,jdbcType=VARCHAR}, #{voiceFour,jdbcType=VARCHAR}, #{isCorrectAnswer,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOne" >
    insert into hi_testing_answer_one
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="testingQuestionId != null" >
        testing_question_id,
      </if>
      <if test="answerTextOne != null" >
        answer_text_one,
      </if>
      <if test="answerTextTwo != null" >
        answer_text_two,
      </if>
      <if test="answerTextThree != null" >
        answer_text_three,
      </if>
      <if test="answerTextFour != null" >
        answer_text_four,
      </if>
      <if test="imgUrlOne != null" >
        img_url_one,
      </if>
      <if test="imgUrlTwo != null" >
        img_url_two,
      </if>
      <if test="imgUrlThree != null" >
        img_url_three,
      </if>
      <if test="imgUrlFour != null" >
        img_url_four,
      </if>
      <if test="voiceOne != null" >
        voice_one,
      </if>
      <if test="voiceTwo != null" >
        voice_two,
      </if>
      <if test="voiceThree != null" >
        voice_three,
      </if>
      <if test="voiceFour != null" >
        voice_four,
      </if>
      <if test="isCorrectAnswer != null" >
        is_correct_answer,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="testingQuestionId != null" >
        #{testingQuestionId,jdbcType=BIGINT},
      </if>
      <if test="answerTextOne != null" >
        #{answerTextOne,jdbcType=VARCHAR},
      </if>
      <if test="answerTextTwo != null" >
        #{answerTextTwo,jdbcType=VARCHAR},
      </if>
      <if test="answerTextThree != null" >
        #{answerTextThree,jdbcType=VARCHAR},
      </if>
      <if test="answerTextFour != null" >
        #{answerTextFour,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlOne != null" >
        #{imgUrlOne,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlTwo != null" >
        #{imgUrlTwo,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlThree != null" >
        #{imgUrlThree,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlFour != null" >
        #{imgUrlFour,jdbcType=VARCHAR},
      </if>
      <if test="voiceOne != null" >
        #{voiceOne,jdbcType=VARCHAR},
      </if>
      <if test="voiceTwo != null" >
        #{voiceTwo,jdbcType=VARCHAR},
      </if>
      <if test="voiceThree != null" >
        #{voiceThree,jdbcType=VARCHAR},
      </if>
      <if test="voiceFour != null" >
        #{voiceFour,jdbcType=VARCHAR},
      </if>
      <if test="isCorrectAnswer != null" >
        #{isCorrectAnswer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOneExample" resultType="java.lang.Integer" >
    select count(*) from hi_testing_answer_one
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hi_testing_answer_one
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.testingQuestionId != null" >
        testing_question_id = #{record.testingQuestionId,jdbcType=BIGINT},
      </if>
      <if test="record.answerTextOne != null" >
        answer_text_one = #{record.answerTextOne,jdbcType=VARCHAR},
      </if>
      <if test="record.answerTextTwo != null" >
        answer_text_two = #{record.answerTextTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.answerTextThree != null" >
        answer_text_three = #{record.answerTextThree,jdbcType=VARCHAR},
      </if>
      <if test="record.answerTextFour != null" >
        answer_text_four = #{record.answerTextFour,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrlOne != null" >
        img_url_one = #{record.imgUrlOne,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrlTwo != null" >
        img_url_two = #{record.imgUrlTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrlThree != null" >
        img_url_three = #{record.imgUrlThree,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrlFour != null" >
        img_url_four = #{record.imgUrlFour,jdbcType=VARCHAR},
      </if>
      <if test="record.voiceOne != null" >
        voice_one = #{record.voiceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.voiceTwo != null" >
        voice_two = #{record.voiceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.voiceThree != null" >
        voice_three = #{record.voiceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.voiceFour != null" >
        voice_four = #{record.voiceFour,jdbcType=VARCHAR},
      </if>
      <if test="record.isCorrectAnswer != null" >
        is_correct_answer = #{record.isCorrectAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hi_testing_answer_one
    set id = #{record.id,jdbcType=BIGINT},
      testing_question_id = #{record.testingQuestionId,jdbcType=BIGINT},
      answer_text_one = #{record.answerTextOne,jdbcType=VARCHAR},
      answer_text_two = #{record.answerTextTwo,jdbcType=VARCHAR},
      answer_text_three = #{record.answerTextThree,jdbcType=VARCHAR},
      answer_text_four = #{record.answerTextFour,jdbcType=VARCHAR},
      img_url_one = #{record.imgUrlOne,jdbcType=VARCHAR},
      img_url_two = #{record.imgUrlTwo,jdbcType=VARCHAR},
      img_url_three = #{record.imgUrlThree,jdbcType=VARCHAR},
      img_url_four = #{record.imgUrlFour,jdbcType=VARCHAR},
      voice_one = #{record.voiceOne,jdbcType=VARCHAR},
      voice_two = #{record.voiceTwo,jdbcType=VARCHAR},
      voice_three = #{record.voiceThree,jdbcType=VARCHAR},
      voice_four = #{record.voiceFour,jdbcType=VARCHAR},
      is_correct_answer = #{record.isCorrectAnswer,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOne" >
    update hi_testing_answer_one
    <set >
      <if test="testingQuestionId != null" >
        testing_question_id = #{testingQuestionId,jdbcType=BIGINT},
      </if>
      <if test="answerTextOne != null" >
        answer_text_one = #{answerTextOne,jdbcType=VARCHAR},
      </if>
      <if test="answerTextTwo != null" >
        answer_text_two = #{answerTextTwo,jdbcType=VARCHAR},
      </if>
      <if test="answerTextThree != null" >
        answer_text_three = #{answerTextThree,jdbcType=VARCHAR},
      </if>
      <if test="answerTextFour != null" >
        answer_text_four = #{answerTextFour,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlOne != null" >
        img_url_one = #{imgUrlOne,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlTwo != null" >
        img_url_two = #{imgUrlTwo,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlThree != null" >
        img_url_three = #{imgUrlThree,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlFour != null" >
        img_url_four = #{imgUrlFour,jdbcType=VARCHAR},
      </if>
      <if test="voiceOne != null" >
        voice_one = #{voiceOne,jdbcType=VARCHAR},
      </if>
      <if test="voiceTwo != null" >
        voice_two = #{voiceTwo,jdbcType=VARCHAR},
      </if>
      <if test="voiceThree != null" >
        voice_three = #{voiceThree,jdbcType=VARCHAR},
      </if>
      <if test="voiceFour != null" >
        voice_four = #{voiceFour,jdbcType=VARCHAR},
      </if>
      <if test="isCorrectAnswer != null" >
        is_correct_answer = #{isCorrectAnswer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiTestingAnswerOne" >
    update hi_testing_answer_one
    set testing_question_id = #{testingQuestionId,jdbcType=BIGINT},
      answer_text_one = #{answerTextOne,jdbcType=VARCHAR},
      answer_text_two = #{answerTextTwo,jdbcType=VARCHAR},
      answer_text_three = #{answerTextThree,jdbcType=VARCHAR},
      answer_text_four = #{answerTextFour,jdbcType=VARCHAR},
      img_url_one = #{imgUrlOne,jdbcType=VARCHAR},
      img_url_two = #{imgUrlTwo,jdbcType=VARCHAR},
      img_url_three = #{imgUrlThree,jdbcType=VARCHAR},
      img_url_four = #{imgUrlFour,jdbcType=VARCHAR},
      voice_one = #{voiceOne,jdbcType=VARCHAR},
      voice_two = #{voiceTwo,jdbcType=VARCHAR},
      voice_three = #{voiceThree,jdbcType=VARCHAR},
      voice_four = #{voiceFour,jdbcType=VARCHAR},
      is_correct_answer = #{isCorrectAnswer,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>