<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.HiUserCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollection" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_base_id" property="userBaseId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="collection_type" property="collectionType" jdbcType="VARCHAR" />
    <result column="collection_name" property="collectionName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="data_id" property="dataId" jdbcType="BIGINT" />
    <result column="is_top" property="isTop" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_base_id, user_id, collection_type, collection_name, icon, data_id, is_top, 
    memo, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hi_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hi_user_collection
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hi_user_collection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollectionExample" >
    delete from hi_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollection" >
    insert into hi_user_collection (id, user_base_id, user_id, 
      collection_type, collection_name, icon, 
      data_id, is_top, memo, 
      raw_add_time, raw_update_time)
    values (#{id,jdbcType=BIGINT}, #{userBaseId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{collectionType,jdbcType=VARCHAR}, #{collectionName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{dataId,jdbcType=BIGINT}, #{isTop,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollection" >
    insert into hi_user_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userBaseId != null" >
        user_base_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="collectionType != null" >
        collection_type,
      </if>
      <if test="collectionName != null" >
        collection_name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userBaseId != null" >
        #{userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="collectionType != null" >
        #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="collectionName != null" >
        #{collectionName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollectionExample" resultType="java.lang.Integer" >
    select count(*) from hi_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hi_user_collection
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userBaseId != null" >
        user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.collectionType != null" >
        collection_type = #{record.collectionType,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionName != null" >
        collection_name = #{record.collectionName,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.dataId != null" >
        data_id = #{record.dataId,jdbcType=BIGINT},
      </if>
      <if test="record.isTop != null" >
        is_top = #{record.isTop,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hi_user_collection
    set id = #{record.id,jdbcType=BIGINT},
      user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      collection_type = #{record.collectionType,jdbcType=VARCHAR},
      collection_name = #{record.collectionName,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      data_id = #{record.dataId,jdbcType=BIGINT},
      is_top = #{record.isTop,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollection" >
    update hi_user_collection
    <set >
      <if test="userBaseId != null" >
        user_base_id = #{userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="collectionType != null" >
        collection_type = #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="collectionName != null" >
        collection_name = #{collectionName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserCollection" >
    update hi_user_collection
    set user_base_id = #{userBaseId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      collection_type = #{collectionType,jdbcType=VARCHAR},
      collection_name = #{collectionName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      data_id = #{dataId,jdbcType=BIGINT},
      is_top = #{isTop,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>