<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.HiUserDialogueTestingMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTesting" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="testing_detail_id" property="testingDetailId" jdbcType="BIGINT" />
    <result column="user_answer" property="userAnswer" jdbcType="VARCHAR" />
    <result column="is_correct" property="isCorrect" jdbcType="VARCHAR" />
    <result column="user_voice_url" property="userVoiceUrl" jdbcType="VARCHAR" />
    <result column="voice_score" property="voiceScore" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, testing_detail_id, user_answer, is_correct, user_voice_url, voice_score, 
    memo, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTestingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hi_user_dialogue_testing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hi_user_dialogue_testing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hi_user_dialogue_testing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTestingExample" >
    delete from hi_user_dialogue_testing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTesting" >
    insert into hi_user_dialogue_testing (id, user_id, testing_detail_id, 
      user_answer, is_correct, user_voice_url, 
      voice_score, memo, raw_add_time, 
      raw_update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{testingDetailId,jdbcType=BIGINT}, 
      #{userAnswer,jdbcType=VARCHAR}, #{isCorrect,jdbcType=VARCHAR}, #{userVoiceUrl,jdbcType=VARCHAR}, 
      #{voiceScore,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTesting" >
    insert into hi_user_dialogue_testing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="testingDetailId != null" >
        testing_detail_id,
      </if>
      <if test="userAnswer != null" >
        user_answer,
      </if>
      <if test="isCorrect != null" >
        is_correct,
      </if>
      <if test="userVoiceUrl != null" >
        user_voice_url,
      </if>
      <if test="voiceScore != null" >
        voice_score,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="testingDetailId != null" >
        #{testingDetailId,jdbcType=BIGINT},
      </if>
      <if test="userAnswer != null" >
        #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isCorrect != null" >
        #{isCorrect,jdbcType=VARCHAR},
      </if>
      <if test="userVoiceUrl != null" >
        #{userVoiceUrl,jdbcType=VARCHAR},
      </if>
      <if test="voiceScore != null" >
        #{voiceScore,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTestingExample" resultType="java.lang.Integer" >
    select count(*) from hi_user_dialogue_testing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hi_user_dialogue_testing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.testingDetailId != null" >
        testing_detail_id = #{record.testingDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.userAnswer != null" >
        user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.isCorrect != null" >
        is_correct = #{record.isCorrect,jdbcType=VARCHAR},
      </if>
      <if test="record.userVoiceUrl != null" >
        user_voice_url = #{record.userVoiceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.voiceScore != null" >
        voice_score = #{record.voiceScore,jdbcType=INTEGER},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hi_user_dialogue_testing
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      testing_detail_id = #{record.testingDetailId,jdbcType=BIGINT},
      user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      is_correct = #{record.isCorrect,jdbcType=VARCHAR},
      user_voice_url = #{record.userVoiceUrl,jdbcType=VARCHAR},
      voice_score = #{record.voiceScore,jdbcType=INTEGER},
      memo = #{record.memo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTesting" >
    update hi_user_dialogue_testing
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="testingDetailId != null" >
        testing_detail_id = #{testingDetailId,jdbcType=BIGINT},
      </if>
      <if test="userAnswer != null" >
        user_answer = #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isCorrect != null" >
        is_correct = #{isCorrect,jdbcType=VARCHAR},
      </if>
      <if test="userVoiceUrl != null" >
        user_voice_url = #{userVoiceUrl,jdbcType=VARCHAR},
      </if>
      <if test="voiceScore != null" >
        voice_score = #{voiceScore,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.HiUserDialogueTesting" >
    update hi_user_dialogue_testing
    set user_id = #{userId,jdbcType=BIGINT},
      testing_detail_id = #{testingDetailId,jdbcType=BIGINT},
      user_answer = #{userAnswer,jdbcType=VARCHAR},
      is_correct = #{isCorrect,jdbcType=VARCHAR},
      user_voice_url = #{userVoiceUrl,jdbcType=VARCHAR},
      voice_score = #{voiceScore,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>