<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.LotteryConditionMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.LotteryCondition" >
    <id column="lottery_condition_id" property="lotteryConditionId" jdbcType="BIGINT" />
    <result column="lottery_id" property="lotteryId" jdbcType="BIGINT" />
    <result column="seq_num" property="seqNum" jdbcType="BIGINT" />
    <result column="lottery_condition_type" property="lotteryConditionType" jdbcType="VARCHAR" />
    <result column="condition_value" property="conditionValue" jdbcType="VARCHAR" />
    <result column="lottery_times_type" property="lotteryTimesType" jdbcType="VARCHAR" />
    <result column="start_period" property="startPeriod" jdbcType="INTEGER" />
    <result column="end_period" property="endPeriod" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="BIGINT" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lottery_condition_id, lottery_id, seq_num, lottery_condition_type, condition_value, 
    lottery_times_type, start_period, end_period, time, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryConditionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lottery_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lottery_condition
    where lottery_condition_id = #{lotteryConditionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lottery_condition
    where lottery_condition_id = #{lotteryConditionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryConditionExample" >
    delete from lottery_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryCondition" >
    insert into lottery_condition (lottery_condition_id, lottery_id, seq_num, 
      lottery_condition_type, condition_value, lottery_times_type, 
      start_period, end_period, time, 
      raw_add_time, raw_update_time)
    values (#{lotteryConditionId,jdbcType=BIGINT}, #{lotteryId,jdbcType=BIGINT}, #{seqNum,jdbcType=BIGINT}, 
      #{lotteryConditionType,jdbcType=VARCHAR}, #{conditionValue,jdbcType=VARCHAR}, #{lotteryTimesType,jdbcType=VARCHAR}, 
      #{startPeriod,jdbcType=INTEGER}, #{endPeriod,jdbcType=INTEGER}, #{time,jdbcType=BIGINT}, 
      #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryCondition" >
    insert into lottery_condition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryConditionId != null" >
        lottery_condition_id,
      </if>
      <if test="lotteryId != null" >
        lottery_id,
      </if>
      <if test="seqNum != null" >
        seq_num,
      </if>
      <if test="lotteryConditionType != null" >
        lottery_condition_type,
      </if>
      <if test="conditionValue != null" >
        condition_value,
      </if>
      <if test="lotteryTimesType != null" >
        lottery_times_type,
      </if>
      <if test="startPeriod != null" >
        start_period,
      </if>
      <if test="endPeriod != null" >
        end_period,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryConditionId != null" >
        #{lotteryConditionId,jdbcType=BIGINT},
      </if>
      <if test="lotteryId != null" >
        #{lotteryId,jdbcType=BIGINT},
      </if>
      <if test="seqNum != null" >
        #{seqNum,jdbcType=BIGINT},
      </if>
      <if test="lotteryConditionType != null" >
        #{lotteryConditionType,jdbcType=VARCHAR},
      </if>
      <if test="conditionValue != null" >
        #{conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTimesType != null" >
        #{lotteryTimesType,jdbcType=VARCHAR},
      </if>
      <if test="startPeriod != null" >
        #{startPeriod,jdbcType=INTEGER},
      </if>
      <if test="endPeriod != null" >
        #{endPeriod,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryConditionExample" resultType="java.lang.Integer" >
    select count(*) from lottery_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lottery_condition
    <set >
      <if test="record.lotteryConditionId != null" >
        lottery_condition_id = #{record.lotteryConditionId,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryId != null" >
        lottery_id = #{record.lotteryId,jdbcType=BIGINT},
      </if>
      <if test="record.seqNum != null" >
        seq_num = #{record.seqNum,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryConditionType != null" >
        lottery_condition_type = #{record.lotteryConditionType,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionValue != null" >
        condition_value = #{record.conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="record.lotteryTimesType != null" >
        lottery_times_type = #{record.lotteryTimesType,jdbcType=VARCHAR},
      </if>
      <if test="record.startPeriod != null" >
        start_period = #{record.startPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.endPeriod != null" >
        end_period = #{record.endPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=BIGINT},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lottery_condition
    set lottery_condition_id = #{record.lotteryConditionId,jdbcType=BIGINT},
      lottery_id = #{record.lotteryId,jdbcType=BIGINT},
      seq_num = #{record.seqNum,jdbcType=BIGINT},
      lottery_condition_type = #{record.lotteryConditionType,jdbcType=VARCHAR},
      condition_value = #{record.conditionValue,jdbcType=VARCHAR},
      lottery_times_type = #{record.lotteryTimesType,jdbcType=VARCHAR},
      start_period = #{record.startPeriod,jdbcType=INTEGER},
      end_period = #{record.endPeriod,jdbcType=INTEGER},
      time = #{record.time,jdbcType=BIGINT},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryCondition" >
    update lottery_condition
    <set >
      <if test="lotteryId != null" >
        lottery_id = #{lotteryId,jdbcType=BIGINT},
      </if>
      <if test="seqNum != null" >
        seq_num = #{seqNum,jdbcType=BIGINT},
      </if>
      <if test="lotteryConditionType != null" >
        lottery_condition_type = #{lotteryConditionType,jdbcType=VARCHAR},
      </if>
      <if test="conditionValue != null" >
        condition_value = #{conditionValue,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTimesType != null" >
        lottery_times_type = #{lotteryTimesType,jdbcType=VARCHAR},
      </if>
      <if test="startPeriod != null" >
        start_period = #{startPeriod,jdbcType=INTEGER},
      </if>
      <if test="endPeriod != null" >
        end_period = #{endPeriod,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lottery_condition_id = #{lotteryConditionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.LotteryCondition" >
    update lottery_condition
    set lottery_id = #{lotteryId,jdbcType=BIGINT},
      seq_num = #{seqNum,jdbcType=BIGINT},
      lottery_condition_type = #{lotteryConditionType,jdbcType=VARCHAR},
      condition_value = #{conditionValue,jdbcType=VARCHAR},
      lottery_times_type = #{lotteryTimesType,jdbcType=VARCHAR},
      start_period = #{startPeriod,jdbcType=INTEGER},
      end_period = #{endPeriod,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where lottery_condition_id = #{lotteryConditionId,jdbcType=BIGINT}
  </update>
</mapper>