<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.MessageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    <id column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="message_status" property="messageStatus" jdbcType="VARCHAR" />
    <result column="message_subject" property="messageSubject" jdbcType="VARCHAR" />
    <result column="notification_object" property="notificationObject" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="view_type" property="viewType" jdbcType="VARCHAR" />
    <result column="notification_type" property="notificationType" jdbcType="VARCHAR" />
    <result column="message_send_date" property="messageSendDate" jdbcType="TIMESTAMP" />
    <result column="message_plan_send_date" property="messagePlanSendDate" jdbcType="TIMESTAMP" />
    <result column="message_sender_id" property="messageSenderId" jdbcType="BIGINT" />
    <result column="message_sender_name" property="messageSenderName" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="del_status" property="delStatus" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" extends="BaseResultMap" >
    <result column="message_content" property="messageContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    message_id, message_title, message_type, message_status, message_subject, notification_object, 
    link_url, view_type, notification_type, message_send_date, message_plan_send_date, 
    message_sender_id, message_sender_name, raw_add_time, raw_update_time, del_status
  </sql>
  <sql id="Blob_Column_List" >
    message_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message_info
    where message_id = #{messageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from message_info
    where message_id = #{messageId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfoExample" >
    delete from message_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    insert into message_info (message_id, message_title, message_type, 
      message_status, message_subject, notification_object, 
      link_url, view_type, notification_type, 
      message_send_date, message_plan_send_date, 
      message_sender_id, message_sender_name, raw_add_time, 
      raw_update_time, del_status, message_content
      )
    values (#{messageId,jdbcType=BIGINT}, #{messageTitle,jdbcType=VARCHAR}, #{messageType,jdbcType=VARCHAR}, 
      #{messageStatus,jdbcType=VARCHAR}, #{messageSubject,jdbcType=VARCHAR}, #{notificationObject,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{viewType,jdbcType=VARCHAR}, #{notificationType,jdbcType=VARCHAR}, 
      #{messageSendDate,jdbcType=TIMESTAMP}, #{messagePlanSendDate,jdbcType=TIMESTAMP}, 
      #{messageSenderId,jdbcType=BIGINT}, #{messageSenderName,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP}, #{delStatus,jdbcType=CHAR}, #{messageContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    insert into message_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="messageTitle != null" >
        message_title,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="messageStatus != null" >
        message_status,
      </if>
      <if test="messageSubject != null" >
        message_subject,
      </if>
      <if test="notificationObject != null" >
        notification_object,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="viewType != null" >
        view_type,
      </if>
      <if test="notificationType != null" >
        notification_type,
      </if>
      <if test="messageSendDate != null" >
        message_send_date,
      </if>
      <if test="messagePlanSendDate != null" >
        message_plan_send_date,
      </if>
      <if test="messageSenderId != null" >
        message_sender_id,
      </if>
      <if test="messageSenderName != null" >
        message_sender_name,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageTitle != null" >
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null" >
        #{messageStatus,jdbcType=VARCHAR},
      </if>
      <if test="messageSubject != null" >
        #{messageSubject,jdbcType=VARCHAR},
      </if>
      <if test="notificationObject != null" >
        #{notificationObject,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        #{viewType,jdbcType=VARCHAR},
      </if>
      <if test="notificationType != null" >
        #{notificationType,jdbcType=VARCHAR},
      </if>
      <if test="messageSendDate != null" >
        #{messageSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="messagePlanSendDate != null" >
        #{messagePlanSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="messageSenderId != null" >
        #{messageSenderId,jdbcType=BIGINT},
      </if>
      <if test="messageSenderName != null" >
        #{messageSenderName,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=CHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfoExample" resultType="java.lang.Integer" >
    select count(*) from message_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message_info
    <set >
      <if test="record.messageId != null" >
        message_id = #{record.messageId,jdbcType=BIGINT},
      </if>
      <if test="record.messageTitle != null" >
        message_title = #{record.messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.messageType != null" >
        message_type = #{record.messageType,jdbcType=VARCHAR},
      </if>
      <if test="record.messageStatus != null" >
        message_status = #{record.messageStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.messageSubject != null" >
        message_subject = #{record.messageSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.notificationObject != null" >
        notification_object = #{record.notificationObject,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null" >
        link_url = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.viewType != null" >
        view_type = #{record.viewType,jdbcType=VARCHAR},
      </if>
      <if test="record.notificationType != null" >
        notification_type = #{record.notificationType,jdbcType=VARCHAR},
      </if>
      <if test="record.messageSendDate != null" >
        message_send_date = #{record.messageSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.messagePlanSendDate != null" >
        message_plan_send_date = #{record.messagePlanSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.messageSenderId != null" >
        message_sender_id = #{record.messageSenderId,jdbcType=BIGINT},
      </if>
      <if test="record.messageSenderName != null" >
        message_sender_name = #{record.messageSenderName,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=CHAR},
      </if>
      <if test="record.messageContent != null" >
        message_content = #{record.messageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update message_info
    set message_id = #{record.messageId,jdbcType=BIGINT},
      message_title = #{record.messageTitle,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      message_status = #{record.messageStatus,jdbcType=VARCHAR},
      message_subject = #{record.messageSubject,jdbcType=VARCHAR},
      notification_object = #{record.notificationObject,jdbcType=VARCHAR},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      view_type = #{record.viewType,jdbcType=VARCHAR},
      notification_type = #{record.notificationType,jdbcType=VARCHAR},
      message_send_date = #{record.messageSendDate,jdbcType=TIMESTAMP},
      message_plan_send_date = #{record.messagePlanSendDate,jdbcType=TIMESTAMP},
      message_sender_id = #{record.messageSenderId,jdbcType=BIGINT},
      message_sender_name = #{record.messageSenderName,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      del_status = #{record.delStatus,jdbcType=CHAR},
      message_content = #{record.messageContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message_info
    set message_id = #{record.messageId,jdbcType=BIGINT},
      message_title = #{record.messageTitle,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      message_status = #{record.messageStatus,jdbcType=VARCHAR},
      message_subject = #{record.messageSubject,jdbcType=VARCHAR},
      notification_object = #{record.notificationObject,jdbcType=VARCHAR},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      view_type = #{record.viewType,jdbcType=VARCHAR},
      notification_type = #{record.notificationType,jdbcType=VARCHAR},
      message_send_date = #{record.messageSendDate,jdbcType=TIMESTAMP},
      message_plan_send_date = #{record.messagePlanSendDate,jdbcType=TIMESTAMP},
      message_sender_id = #{record.messageSenderId,jdbcType=BIGINT},
      message_sender_name = #{record.messageSenderName,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      del_status = #{record.delStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    update message_info
    <set >
      <if test="messageTitle != null" >
        message_title = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null" >
        message_status = #{messageStatus,jdbcType=VARCHAR},
      </if>
      <if test="messageSubject != null" >
        message_subject = #{messageSubject,jdbcType=VARCHAR},
      </if>
      <if test="notificationObject != null" >
        notification_object = #{notificationObject,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        view_type = #{viewType,jdbcType=VARCHAR},
      </if>
      <if test="notificationType != null" >
        notification_type = #{notificationType,jdbcType=VARCHAR},
      </if>
      <if test="messageSendDate != null" >
        message_send_date = #{messageSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="messagePlanSendDate != null" >
        message_plan_send_date = #{messagePlanSendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="messageSenderId != null" >
        message_sender_id = #{messageSenderId,jdbcType=BIGINT},
      </if>
      <if test="messageSenderName != null" >
        message_sender_name = #{messageSenderName,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=CHAR},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    update message_info
    set message_title = #{messageTitle,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=VARCHAR},
      message_status = #{messageStatus,jdbcType=VARCHAR},
      message_subject = #{messageSubject,jdbcType=VARCHAR},
      notification_object = #{notificationObject,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      view_type = #{viewType,jdbcType=VARCHAR},
      notification_type = #{notificationType,jdbcType=VARCHAR},
      message_send_date = #{messageSendDate,jdbcType=TIMESTAMP},
      message_plan_send_date = #{messagePlanSendDate,jdbcType=TIMESTAMP},
      message_sender_id = #{messageSenderId,jdbcType=BIGINT},
      message_sender_name = #{messageSenderName,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      del_status = #{delStatus,jdbcType=CHAR},
      message_content = #{messageContent,jdbcType=LONGVARCHAR}
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.MessageInfo" >
    update message_info
    set message_title = #{messageTitle,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=VARCHAR},
      message_status = #{messageStatus,jdbcType=VARCHAR},
      message_subject = #{messageSubject,jdbcType=VARCHAR},
      notification_object = #{notificationObject,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      view_type = #{viewType,jdbcType=VARCHAR},
      notification_type = #{notificationType,jdbcType=VARCHAR},
      message_send_date = #{messageSendDate,jdbcType=TIMESTAMP},
      message_plan_send_date = #{messagePlanSendDate,jdbcType=TIMESTAMP},
      message_sender_id = #{messageSenderId,jdbcType=BIGINT},
      message_sender_name = #{messageSenderName,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      del_status = #{delStatus,jdbcType=CHAR}
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
</mapper>