<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.PermissionCopy2018190326Mapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_type" property="permissionType" jdbcType="VARCHAR" />
    <result column="permission_operate" property="permissionOperate" jdbcType="VARCHAR" />
    <result column="permission_callback" property="permissionCallback" jdbcType="VARCHAR" />
    <result column="permission_note" property="permissionNote" jdbcType="VARCHAR" />
    <result column="permission_parent_id" property="permissionParentId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_menu" property="isMenu" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="icon_url1" property="iconUrl1" jdbcType="VARCHAR" />
    <result column="icon_url2" property="iconUrl2" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    permission_id, permission_code, permission_name, permission_type, permission_operate, 
    permission_callback, permission_note, permission_parent_id, sort, is_menu, status, 
    icon_url1, icon_url2, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permission_copy_2018-190326
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permission_copy_2018-190326
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission_copy_2018-190326
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326Example" >
    delete from permission_copy_2018-190326
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326" >
    insert into permission_copy_2018-190326 (permission_id, permission_code, permission_name, 
      permission_type, permission_operate, permission_callback, 
      permission_note, permission_parent_id, sort, 
      is_menu, status, icon_url1, 
      icon_url2, raw_add_time, raw_update_time
      )
    values (#{permissionId,jdbcType=INTEGER}, #{permissionCode,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{permissionType,jdbcType=VARCHAR}, #{permissionOperate,jdbcType=VARCHAR}, #{permissionCallback,jdbcType=VARCHAR}, 
      #{permissionNote,jdbcType=VARCHAR}, #{permissionParentId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{isMenu,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{iconUrl1,jdbcType=VARCHAR}, 
      #{iconUrl2,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326" >
    insert into permission_copy_2018-190326
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="permissionCode != null" >
        permission_code,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionType != null" >
        permission_type,
      </if>
      <if test="permissionOperate != null" >
        permission_operate,
      </if>
      <if test="permissionCallback != null" >
        permission_callback,
      </if>
      <if test="permissionNote != null" >
        permission_note,
      </if>
      <if test="permissionParentId != null" >
        permission_parent_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isMenu != null" >
        is_menu,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="iconUrl1 != null" >
        icon_url1,
      </if>
      <if test="iconUrl2 != null" >
        icon_url2,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionCode != null" >
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="permissionOperate != null" >
        #{permissionOperate,jdbcType=VARCHAR},
      </if>
      <if test="permissionCallback != null" >
        #{permissionCallback,jdbcType=VARCHAR},
      </if>
      <if test="permissionNote != null" >
        #{permissionNote,jdbcType=VARCHAR},
      </if>
      <if test="permissionParentId != null" >
        #{permissionParentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        #{isMenu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl1 != null" >
        #{iconUrl1,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl2 != null" >
        #{iconUrl2,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326Example" resultType="java.lang.Integer" >
    select count(*) from permission_copy_2018-190326
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update permission_copy_2018-190326
    <set >
      <if test="record.permissionId != null" >
        permission_id = #{record.permissionId,jdbcType=INTEGER},
      </if>
      <if test="record.permissionCode != null" >
        permission_code = #{record.permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionName != null" >
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionType != null" >
        permission_type = #{record.permissionType,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionOperate != null" >
        permission_operate = #{record.permissionOperate,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionCallback != null" >
        permission_callback = #{record.permissionCallback,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionNote != null" >
        permission_note = #{record.permissionNote,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionParentId != null" >
        permission_parent_id = #{record.permissionParentId,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.isMenu != null" >
        is_menu = #{record.isMenu,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.iconUrl1 != null" >
        icon_url1 = #{record.iconUrl1,jdbcType=VARCHAR},
      </if>
      <if test="record.iconUrl2 != null" >
        icon_url2 = #{record.iconUrl2,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update permission_copy_2018-190326
    set permission_id = #{record.permissionId,jdbcType=INTEGER},
      permission_code = #{record.permissionCode,jdbcType=VARCHAR},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      permission_type = #{record.permissionType,jdbcType=VARCHAR},
      permission_operate = #{record.permissionOperate,jdbcType=VARCHAR},
      permission_callback = #{record.permissionCallback,jdbcType=VARCHAR},
      permission_note = #{record.permissionNote,jdbcType=VARCHAR},
      permission_parent_id = #{record.permissionParentId,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      is_menu = #{record.isMenu,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      icon_url1 = #{record.iconUrl1,jdbcType=VARCHAR},
      icon_url2 = #{record.iconUrl2,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326" >
    update permission_copy_2018-190326
    <set >
      <if test="permissionCode != null" >
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null" >
        permission_type = #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="permissionOperate != null" >
        permission_operate = #{permissionOperate,jdbcType=VARCHAR},
      </if>
      <if test="permissionCallback != null" >
        permission_callback = #{permissionCallback,jdbcType=VARCHAR},
      </if>
      <if test="permissionNote != null" >
        permission_note = #{permissionNote,jdbcType=VARCHAR},
      </if>
      <if test="permissionParentId != null" >
        permission_parent_id = #{permissionParentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        is_menu = #{isMenu,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl1 != null" >
        icon_url1 = #{iconUrl1,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl2 != null" >
        icon_url2 = #{iconUrl2,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PermissionCopy2018190326" >
    update permission_copy_2018-190326
    set permission_code = #{permissionCode,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=VARCHAR},
      permission_operate = #{permissionOperate,jdbcType=VARCHAR},
      permission_callback = #{permissionCallback,jdbcType=VARCHAR},
      permission_note = #{permissionNote,jdbcType=VARCHAR},
      permission_parent_id = #{permissionParentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      is_menu = #{isMenu,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      icon_url1 = #{iconUrl1,jdbcType=VARCHAR},
      icon_url2 = #{iconUrl2,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>