<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.PointsRuleDetailMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetail" >
    <id column="points_rule_detail_id" property="pointsRuleDetailId" jdbcType="BIGINT" />
    <result column="points_rule_id" property="pointsRuleId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="BIGINT" />
    <result column="coefficient" property="coefficient" jdbcType="DECIMAL" />
    <result column="points_value" property="pointsValue" jdbcType="BIGINT" />
    <result column="def1" property="def1" jdbcType="VARCHAR" />
    <result column="def2" property="def2" jdbcType="VARCHAR" />
    <result column="def3" property="def3" jdbcType="VARCHAR" />
    <result column="def4" property="def4" jdbcType="VARCHAR" />
    <result column="def5" property="def5" jdbcType="VARCHAR" />
    <result column="def6" property="def6" jdbcType="VARCHAR" />
    <result column="def7" property="def7" jdbcType="VARCHAR" />
    <result column="def8" property="def8" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    points_rule_detail_id, points_rule_id, amount, user_level, priority, coefficient, 
    points_value, def1, def2, def3, def4, def5, def6, def7, def8, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from points_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from points_rule_detail
    where points_rule_detail_id = #{pointsRuleDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from points_rule_detail
    where points_rule_detail_id = #{pointsRuleDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetailExample" >
    delete from points_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetail" >
    insert into points_rule_detail (points_rule_detail_id, points_rule_id, amount, 
      user_level, priority, coefficient, 
      points_value, def1, def2, 
      def3, def4, def5, def6, 
      def7, def8, raw_add_time, 
      raw_update_time)
    values (#{pointsRuleDetailId,jdbcType=BIGINT}, #{pointsRuleId,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT}, 
      #{userLevel,jdbcType=VARCHAR}, #{priority,jdbcType=BIGINT}, #{coefficient,jdbcType=DECIMAL}, 
      #{pointsValue,jdbcType=BIGINT}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, 
      #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}, #{def6,jdbcType=VARCHAR}, 
      #{def7,jdbcType=VARCHAR}, #{def8,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetail" >
    insert into points_rule_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pointsRuleDetailId != null" >
        points_rule_detail_id,
      </if>
      <if test="pointsRuleId != null" >
        points_rule_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="coefficient != null" >
        coefficient,
      </if>
      <if test="pointsValue != null" >
        points_value,
      </if>
      <if test="def1 != null" >
        def1,
      </if>
      <if test="def2 != null" >
        def2,
      </if>
      <if test="def3 != null" >
        def3,
      </if>
      <if test="def4 != null" >
        def4,
      </if>
      <if test="def5 != null" >
        def5,
      </if>
      <if test="def6 != null" >
        def6,
      </if>
      <if test="def7 != null" >
        def7,
      </if>
      <if test="def8 != null" >
        def8,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pointsRuleDetailId != null" >
        #{pointsRuleDetailId,jdbcType=BIGINT},
      </if>
      <if test="pointsRuleId != null" >
        #{pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="coefficient != null" >
        #{coefficient,jdbcType=DECIMAL},
      </if>
      <if test="pointsValue != null" >
        #{pointsValue,jdbcType=BIGINT},
      </if>
      <if test="def1 != null" >
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null" >
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null" >
        #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null" >
        #{def6,jdbcType=VARCHAR},
      </if>
      <if test="def7 != null" >
        #{def7,jdbcType=VARCHAR},
      </if>
      <if test="def8 != null" >
        #{def8,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetailExample" resultType="java.lang.Integer" >
    select count(*) from points_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update points_rule_detail
    <set >
      <if test="record.pointsRuleDetailId != null" >
        points_rule_detail_id = #{record.pointsRuleDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.pointsRuleId != null" >
        points_rule_id = #{record.pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.userLevel != null" >
        user_level = #{record.userLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.coefficient != null" >
        coefficient = #{record.coefficient,jdbcType=DECIMAL},
      </if>
      <if test="record.pointsValue != null" >
        points_value = #{record.pointsValue,jdbcType=BIGINT},
      </if>
      <if test="record.def1 != null" >
        def1 = #{record.def1,jdbcType=VARCHAR},
      </if>
      <if test="record.def2 != null" >
        def2 = #{record.def2,jdbcType=VARCHAR},
      </if>
      <if test="record.def3 != null" >
        def3 = #{record.def3,jdbcType=VARCHAR},
      </if>
      <if test="record.def4 != null" >
        def4 = #{record.def4,jdbcType=VARCHAR},
      </if>
      <if test="record.def5 != null" >
        def5 = #{record.def5,jdbcType=VARCHAR},
      </if>
      <if test="record.def6 != null" >
        def6 = #{record.def6,jdbcType=VARCHAR},
      </if>
      <if test="record.def7 != null" >
        def7 = #{record.def7,jdbcType=VARCHAR},
      </if>
      <if test="record.def8 != null" >
        def8 = #{record.def8,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update points_rule_detail
    set points_rule_detail_id = #{record.pointsRuleDetailId,jdbcType=BIGINT},
      points_rule_id = #{record.pointsRuleId,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=BIGINT},
      user_level = #{record.userLevel,jdbcType=VARCHAR},
      priority = #{record.priority,jdbcType=BIGINT},
      coefficient = #{record.coefficient,jdbcType=DECIMAL},
      points_value = #{record.pointsValue,jdbcType=BIGINT},
      def1 = #{record.def1,jdbcType=VARCHAR},
      def2 = #{record.def2,jdbcType=VARCHAR},
      def3 = #{record.def3,jdbcType=VARCHAR},
      def4 = #{record.def4,jdbcType=VARCHAR},
      def5 = #{record.def5,jdbcType=VARCHAR},
      def6 = #{record.def6,jdbcType=VARCHAR},
      def7 = #{record.def7,jdbcType=VARCHAR},
      def8 = #{record.def8,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetail" >
    update points_rule_detail
    <set >
      <if test="pointsRuleId != null" >
        points_rule_id = #{pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=BIGINT},
      </if>
      <if test="coefficient != null" >
        coefficient = #{coefficient,jdbcType=DECIMAL},
      </if>
      <if test="pointsValue != null" >
        points_value = #{pointsValue,jdbcType=BIGINT},
      </if>
      <if test="def1 != null" >
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null" >
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null" >
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
      <if test="def6 != null" >
        def6 = #{def6,jdbcType=VARCHAR},
      </if>
      <if test="def7 != null" >
        def7 = #{def7,jdbcType=VARCHAR},
      </if>
      <if test="def8 != null" >
        def8 = #{def8,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where points_rule_detail_id = #{pointsRuleDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.PointsRuleDetail" >
    update points_rule_detail
    set points_rule_id = #{pointsRuleId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      user_level = #{userLevel,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=BIGINT},
      coefficient = #{coefficient,jdbcType=DECIMAL},
      points_value = #{pointsValue,jdbcType=BIGINT},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=VARCHAR},
      def6 = #{def6,jdbcType=VARCHAR},
      def7 = #{def7,jdbcType=VARCHAR},
      def8 = #{def8,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where points_rule_detail_id = #{pointsRuleDetailId,jdbcType=BIGINT}
  </update>
</mapper>