<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.TblInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.TblInvoice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="bill_type" property="billType" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="taxpayer_number" property="taxpayerNumber" jdbcType="VARCHAR" />
    <result column="reg_address" property="regAddress" jdbcType="VARCHAR" />
    <result column="reg_mobile" property="regMobile" jdbcType="VARCHAR" />
    <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
    <result column="bankAccountNo" property="bankaccountno" jdbcType="VARCHAR" />
    <result column="receiver_info" property="receiverInfo" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, bill_type, company_name, taxpayer_number, reg_address, reg_mobile, deposit_bank, 
    bankAccountNo, receiver_info, receiver_phone, receiver_address, raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_invoice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_invoice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoiceExample" >
    delete from tbl_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoice" >
    insert into tbl_invoice (id, user_id, bill_type, 
      company_name, taxpayer_number, reg_address, 
      reg_mobile, deposit_bank, bankAccountNo, 
      receiver_info, receiver_phone, receiver_address, 
      raw_add_time, raw_update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{billType,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{taxpayerNumber,jdbcType=VARCHAR}, #{regAddress,jdbcType=VARCHAR}, 
      #{regMobile,jdbcType=VARCHAR}, #{depositBank,jdbcType=VARCHAR}, #{bankaccountno,jdbcType=VARCHAR}, 
      #{receiverInfo,jdbcType=VARCHAR}, #{receiverPhone,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoice" >
    insert into tbl_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="taxpayerNumber != null" >
        taxpayer_number,
      </if>
      <if test="regAddress != null" >
        reg_address,
      </if>
      <if test="regMobile != null" >
        reg_mobile,
      </if>
      <if test="depositBank != null" >
        deposit_bank,
      </if>
      <if test="bankaccountno != null" >
        bankAccountNo,
      </if>
      <if test="receiverInfo != null" >
        receiver_info,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNumber != null" >
        #{taxpayerNumber,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="regMobile != null" >
        #{regMobile,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankaccountno != null" >
        #{bankaccountno,jdbcType=VARCHAR},
      </if>
      <if test="receiverInfo != null" >
        #{receiverInfo,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoiceExample" resultType="java.lang.Integer" >
    select count(*) from tbl_invoice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_invoice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.billType != null" >
        bill_type = #{record.billType,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.taxpayerNumber != null" >
        taxpayer_number = #{record.taxpayerNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.regAddress != null" >
        reg_address = #{record.regAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.regMobile != null" >
        reg_mobile = #{record.regMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.depositBank != null" >
        deposit_bank = #{record.depositBank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankaccountno != null" >
        bankAccountNo = #{record.bankaccountno,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverInfo != null" >
        receiver_info = #{record.receiverInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverPhone != null" >
        receiver_phone = #{record.receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverAddress != null" >
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_invoice
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      bill_type = #{record.billType,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      taxpayer_number = #{record.taxpayerNumber,jdbcType=VARCHAR},
      reg_address = #{record.regAddress,jdbcType=VARCHAR},
      reg_mobile = #{record.regMobile,jdbcType=VARCHAR},
      deposit_bank = #{record.depositBank,jdbcType=VARCHAR},
      bankAccountNo = #{record.bankaccountno,jdbcType=VARCHAR},
      receiver_info = #{record.receiverInfo,jdbcType=VARCHAR},
      receiver_phone = #{record.receiverPhone,jdbcType=VARCHAR},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoice" >
    update tbl_invoice
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNumber != null" >
        taxpayer_number = #{taxpayerNumber,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        reg_address = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="regMobile != null" >
        reg_mobile = #{regMobile,jdbcType=VARCHAR},
      </if>
      <if test="depositBank != null" >
        deposit_bank = #{depositBank,jdbcType=VARCHAR},
      </if>
      <if test="bankaccountno != null" >
        bankAccountNo = #{bankaccountno,jdbcType=VARCHAR},
      </if>
      <if test="receiverInfo != null" >
        receiver_info = #{receiverInfo,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblInvoice" >
    update tbl_invoice
    set user_id = #{userId,jdbcType=BIGINT},
      bill_type = #{billType,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      taxpayer_number = #{taxpayerNumber,jdbcType=VARCHAR},
      reg_address = #{regAddress,jdbcType=VARCHAR},
      reg_mobile = #{regMobile,jdbcType=VARCHAR},
      deposit_bank = #{depositBank,jdbcType=VARCHAR},
      bankAccountNo = #{bankaccountno,jdbcType=VARCHAR},
      receiver_info = #{receiverInfo,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>