<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.TblOrderItemsMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItems" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="item_product_id" property="itemProductId" jdbcType="BIGINT" />
    <result column="item_product_name" property="itemProductName" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="BIGINT" />
    <result column="pro_price" property="proPrice" jdbcType="BIGINT" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="post_free" property="postFree" jdbcType="BIGINT" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="pt_tag" property="ptTag" jdbcType="VARCHAR" />
    <result column="no_shipment_amount" property="noShipmentAmount" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, item_product_id, item_product_name, quantity, pro_price, pic_path, 
    post_free, raw_add_time, raw_update_time, unit, pt_tag, no_shipment_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_order_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_order_items
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_order_items
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItemsExample" >
    delete from tbl_order_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItems" >
    insert into tbl_order_items (id, order_id, item_product_id, 
      item_product_name, quantity, pro_price, 
      pic_path, post_free, raw_add_time, 
      raw_update_time, unit, pt_tag, 
      no_shipment_amount)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{itemProductId,jdbcType=BIGINT}, 
      #{itemProductName,jdbcType=VARCHAR}, #{quantity,jdbcType=BIGINT}, #{proPrice,jdbcType=BIGINT}, 
      #{picPath,jdbcType=VARCHAR}, #{postFree,jdbcType=BIGINT}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP}, #{unit,jdbcType=VARCHAR}, #{ptTag,jdbcType=VARCHAR}, 
      #{noShipmentAmount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItems" >
    insert into tbl_order_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="itemProductId != null" >
        item_product_id,
      </if>
      <if test="itemProductName != null" >
        item_product_name,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="proPrice != null" >
        pro_price,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="postFree != null" >
        post_free,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="ptTag != null" >
        pt_tag,
      </if>
      <if test="noShipmentAmount != null" >
        no_shipment_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="itemProductId != null" >
        #{itemProductId,jdbcType=BIGINT},
      </if>
      <if test="itemProductName != null" >
        #{itemProductName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="proPrice != null" >
        #{proPrice,jdbcType=BIGINT},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="postFree != null" >
        #{postFree,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="ptTag != null" >
        #{ptTag,jdbcType=VARCHAR},
      </if>
      <if test="noShipmentAmount != null" >
        #{noShipmentAmount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItemsExample" resultType="java.lang.Integer" >
    select count(*) from tbl_order_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_order_items
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.itemProductId != null" >
        item_product_id = #{record.itemProductId,jdbcType=BIGINT},
      </if>
      <if test="record.itemProductName != null" >
        item_product_name = #{record.itemProductName,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=BIGINT},
      </if>
      <if test="record.proPrice != null" >
        pro_price = #{record.proPrice,jdbcType=BIGINT},
      </if>
      <if test="record.picPath != null" >
        pic_path = #{record.picPath,jdbcType=VARCHAR},
      </if>
      <if test="record.postFree != null" >
        post_free = #{record.postFree,jdbcType=BIGINT},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.ptTag != null" >
        pt_tag = #{record.ptTag,jdbcType=VARCHAR},
      </if>
      <if test="record.noShipmentAmount != null" >
        no_shipment_amount = #{record.noShipmentAmount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_order_items
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      item_product_id = #{record.itemProductId,jdbcType=BIGINT},
      item_product_name = #{record.itemProductName,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=BIGINT},
      pro_price = #{record.proPrice,jdbcType=BIGINT},
      pic_path = #{record.picPath,jdbcType=VARCHAR},
      post_free = #{record.postFree,jdbcType=BIGINT},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      unit = #{record.unit,jdbcType=VARCHAR},
      pt_tag = #{record.ptTag,jdbcType=VARCHAR},
      no_shipment_amount = #{record.noShipmentAmount,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItems" >
    update tbl_order_items
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="itemProductId != null" >
        item_product_id = #{itemProductId,jdbcType=BIGINT},
      </if>
      <if test="itemProductName != null" >
        item_product_name = #{itemProductName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="proPrice != null" >
        pro_price = #{proPrice,jdbcType=BIGINT},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="postFree != null" >
        post_free = #{postFree,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="ptTag != null" >
        pt_tag = #{ptTag,jdbcType=VARCHAR},
      </if>
      <if test="noShipmentAmount != null" >
        no_shipment_amount = #{noShipmentAmount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblOrderItems" >
    update tbl_order_items
    set order_id = #{orderId,jdbcType=BIGINT},
      item_product_id = #{itemProductId,jdbcType=BIGINT},
      item_product_name = #{itemProductName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      pro_price = #{proPrice,jdbcType=BIGINT},
      pic_path = #{picPath,jdbcType=VARCHAR},
      post_free = #{postFree,jdbcType=BIGINT},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      unit = #{unit,jdbcType=VARCHAR},
      pt_tag = #{ptTag,jdbcType=VARCHAR},
      no_shipment_amount = #{noShipmentAmount,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>