<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.TblProductTypeMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.TblProductType" >
    <id column="pt_id" property="ptId" jdbcType="BIGINT" />
    <result column="pt_code" property="ptCode" jdbcType="VARCHAR" />
    <result column="pt_type_name" property="ptTypeName" jdbcType="VARCHAR" />
    <result column="pt_parent_id" property="ptParentId" jdbcType="BIGINT" />
    <result column="priority" property="priority" jdbcType="BIGINT" />
    <result column="pt_seq" property="ptSeq" jdbcType="BIGINT" />
    <result column="product_count" property="productCount" jdbcType="BIGINT" />
    <result column="pt_code_ln" property="ptCodeLn" jdbcType="BIGINT" />
    <result column="is_back_product" property="isBackProduct" jdbcType="VARCHAR" />
    <result column="is_back_money" property="isBackMoney" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="pt_add_columns" property="ptAddColumns" jdbcType="VARCHAR" />
    <result column="pt_note" property="ptNote" jdbcType="VARCHAR" />
    <result column="pt_tag" property="ptTag" jdbcType="VARCHAR" />
    <result column="pt_keyWords" property="ptKeywords" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pt_id, pt_code, pt_type_name, pt_parent_id, priority, pt_seq, product_count, pt_code_ln, 
    is_back_product, is_back_money, raw_add_time, raw_update_time, pt_add_columns, pt_note, 
    pt_tag, pt_keyWords
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_product_type
    where pt_id = #{ptId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_product_type
    where pt_id = #{ptId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductTypeExample" >
    delete from tbl_product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductType" >
    insert into tbl_product_type (pt_id, pt_code, pt_type_name, 
      pt_parent_id, priority, pt_seq, 
      product_count, pt_code_ln, is_back_product, 
      is_back_money, raw_add_time, raw_update_time, 
      pt_add_columns, pt_note, pt_tag, 
      pt_keyWords)
    values (#{ptId,jdbcType=BIGINT}, #{ptCode,jdbcType=VARCHAR}, #{ptTypeName,jdbcType=VARCHAR}, 
      #{ptParentId,jdbcType=BIGINT}, #{priority,jdbcType=BIGINT}, #{ptSeq,jdbcType=BIGINT}, 
      #{productCount,jdbcType=BIGINT}, #{ptCodeLn,jdbcType=BIGINT}, #{isBackProduct,jdbcType=VARCHAR}, 
      #{isBackMoney,jdbcType=VARCHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP}, 
      #{ptAddColumns,jdbcType=VARCHAR}, #{ptNote,jdbcType=VARCHAR}, #{ptTag,jdbcType=VARCHAR}, 
      #{ptKeywords,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductType" >
    insert into tbl_product_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        pt_id,
      </if>
      <if test="ptCode != null" >
        pt_code,
      </if>
      <if test="ptTypeName != null" >
        pt_type_name,
      </if>
      <if test="ptParentId != null" >
        pt_parent_id,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="ptSeq != null" >
        pt_seq,
      </if>
      <if test="productCount != null" >
        product_count,
      </if>
      <if test="ptCodeLn != null" >
        pt_code_ln,
      </if>
      <if test="isBackProduct != null" >
        is_back_product,
      </if>
      <if test="isBackMoney != null" >
        is_back_money,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="ptAddColumns != null" >
        pt_add_columns,
      </if>
      <if test="ptNote != null" >
        pt_note,
      </if>
      <if test="ptTag != null" >
        pt_tag,
      </if>
      <if test="ptKeywords != null" >
        pt_keyWords,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        #{ptId,jdbcType=BIGINT},
      </if>
      <if test="ptCode != null" >
        #{ptCode,jdbcType=VARCHAR},
      </if>
      <if test="ptTypeName != null" >
        #{ptTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ptParentId != null" >
        #{ptParentId,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=BIGINT},
      </if>
      <if test="ptSeq != null" >
        #{ptSeq,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=BIGINT},
      </if>
      <if test="ptCodeLn != null" >
        #{ptCodeLn,jdbcType=BIGINT},
      </if>
      <if test="isBackProduct != null" >
        #{isBackProduct,jdbcType=VARCHAR},
      </if>
      <if test="isBackMoney != null" >
        #{isBackMoney,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ptAddColumns != null" >
        #{ptAddColumns,jdbcType=VARCHAR},
      </if>
      <if test="ptNote != null" >
        #{ptNote,jdbcType=VARCHAR},
      </if>
      <if test="ptTag != null" >
        #{ptTag,jdbcType=VARCHAR},
      </if>
      <if test="ptKeywords != null" >
        #{ptKeywords,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductTypeExample" resultType="java.lang.Integer" >
    select count(*) from tbl_product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_product_type
    <set >
      <if test="record.ptId != null" >
        pt_id = #{record.ptId,jdbcType=BIGINT},
      </if>
      <if test="record.ptCode != null" >
        pt_code = #{record.ptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ptTypeName != null" >
        pt_type_name = #{record.ptTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ptParentId != null" >
        pt_parent_id = #{record.ptParentId,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=BIGINT},
      </if>
      <if test="record.ptSeq != null" >
        pt_seq = #{record.ptSeq,jdbcType=BIGINT},
      </if>
      <if test="record.productCount != null" >
        product_count = #{record.productCount,jdbcType=BIGINT},
      </if>
      <if test="record.ptCodeLn != null" >
        pt_code_ln = #{record.ptCodeLn,jdbcType=BIGINT},
      </if>
      <if test="record.isBackProduct != null" >
        is_back_product = #{record.isBackProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.isBackMoney != null" >
        is_back_money = #{record.isBackMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ptAddColumns != null" >
        pt_add_columns = #{record.ptAddColumns,jdbcType=VARCHAR},
      </if>
      <if test="record.ptNote != null" >
        pt_note = #{record.ptNote,jdbcType=VARCHAR},
      </if>
      <if test="record.ptTag != null" >
        pt_tag = #{record.ptTag,jdbcType=VARCHAR},
      </if>
      <if test="record.ptKeywords != null" >
        pt_keyWords = #{record.ptKeywords,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_product_type
    set pt_id = #{record.ptId,jdbcType=BIGINT},
      pt_code = #{record.ptCode,jdbcType=VARCHAR},
      pt_type_name = #{record.ptTypeName,jdbcType=VARCHAR},
      pt_parent_id = #{record.ptParentId,jdbcType=BIGINT},
      priority = #{record.priority,jdbcType=BIGINT},
      pt_seq = #{record.ptSeq,jdbcType=BIGINT},
      product_count = #{record.productCount,jdbcType=BIGINT},
      pt_code_ln = #{record.ptCodeLn,jdbcType=BIGINT},
      is_back_product = #{record.isBackProduct,jdbcType=VARCHAR},
      is_back_money = #{record.isBackMoney,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      pt_add_columns = #{record.ptAddColumns,jdbcType=VARCHAR},
      pt_note = #{record.ptNote,jdbcType=VARCHAR},
      pt_tag = #{record.ptTag,jdbcType=VARCHAR},
      pt_keyWords = #{record.ptKeywords,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductType" >
    update tbl_product_type
    <set >
      <if test="ptCode != null" >
        pt_code = #{ptCode,jdbcType=VARCHAR},
      </if>
      <if test="ptTypeName != null" >
        pt_type_name = #{ptTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ptParentId != null" >
        pt_parent_id = #{ptParentId,jdbcType=BIGINT},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=BIGINT},
      </if>
      <if test="ptSeq != null" >
        pt_seq = #{ptSeq,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        product_count = #{productCount,jdbcType=BIGINT},
      </if>
      <if test="ptCodeLn != null" >
        pt_code_ln = #{ptCodeLn,jdbcType=BIGINT},
      </if>
      <if test="isBackProduct != null" >
        is_back_product = #{isBackProduct,jdbcType=VARCHAR},
      </if>
      <if test="isBackMoney != null" >
        is_back_money = #{isBackMoney,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ptAddColumns != null" >
        pt_add_columns = #{ptAddColumns,jdbcType=VARCHAR},
      </if>
      <if test="ptNote != null" >
        pt_note = #{ptNote,jdbcType=VARCHAR},
      </if>
      <if test="ptTag != null" >
        pt_tag = #{ptTag,jdbcType=VARCHAR},
      </if>
      <if test="ptKeywords != null" >
        pt_keyWords = #{ptKeywords,jdbcType=VARCHAR},
      </if>
    </set>
    where pt_id = #{ptId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.TblProductType" >
    update tbl_product_type
    set pt_code = #{ptCode,jdbcType=VARCHAR},
      pt_type_name = #{ptTypeName,jdbcType=VARCHAR},
      pt_parent_id = #{ptParentId,jdbcType=BIGINT},
      priority = #{priority,jdbcType=BIGINT},
      pt_seq = #{ptSeq,jdbcType=BIGINT},
      product_count = #{productCount,jdbcType=BIGINT},
      pt_code_ln = #{ptCodeLn,jdbcType=BIGINT},
      is_back_product = #{isBackProduct,jdbcType=VARCHAR},
      is_back_money = #{isBackMoney,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      pt_add_columns = #{ptAddColumns,jdbcType=VARCHAR},
      pt_note = #{ptNote,jdbcType=VARCHAR},
      pt_tag = #{ptTag,jdbcType=VARCHAR},
      pt_keyWords = #{ptKeywords,jdbcType=VARCHAR}
    where pt_id = #{ptId,jdbcType=BIGINT}
  </update>
</mapper>