<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.UserRelationMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.UserRelation" >
    <id column="user_relation_id" property="userRelationId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="child_id" property="childId" jdbcType="BIGINT" />
    <result column="member_no" property="memberNo" jdbcType="VARCHAR" />
    <result column="relation_status" property="relationStatus" jdbcType="CHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="level" property="level" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="user_number" property="userNumber" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_relation_id, parent_id, child_id, member_no, relation_status, raw_add_time, 
    raw_update_time, level, remark, org_code, user_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_relation
    where user_relation_id = #{userRelationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_relation
    where user_relation_id = #{userRelationId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelationExample" >
    delete from user_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelation" >
    insert into user_relation (user_relation_id, parent_id, child_id, 
      member_no, relation_status, raw_add_time, 
      raw_update_time, level, remark, 
      org_code, user_number)
    values (#{userRelationId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{childId,jdbcType=BIGINT}, 
      #{memberNo,jdbcType=VARCHAR}, #{relationStatus,jdbcType=CHAR}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP}, #{level,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{userNumber,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelation" >
    insert into user_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userRelationId != null" >
        user_relation_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="childId != null" >
        child_id,
      </if>
      <if test="memberNo != null" >
        member_no,
      </if>
      <if test="relationStatus != null" >
        relation_status,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userRelationId != null" >
        #{userRelationId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="childId != null" >
        #{childId,jdbcType=BIGINT},
      </if>
      <if test="memberNo != null" >
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="relationStatus != null" >
        #{relationStatus,jdbcType=CHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        #{level,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelationExample" resultType="java.lang.Integer" >
    select count(*) from user_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_relation
    <set >
      <if test="record.userRelationId != null" >
        user_relation_id = #{record.userRelationId,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.childId != null" >
        child_id = #{record.childId,jdbcType=BIGINT},
      </if>
      <if test="record.memberNo != null" >
        member_no = #{record.memberNo,jdbcType=VARCHAR},
      </if>
      <if test="record.relationStatus != null" >
        relation_status = #{record.relationStatus,jdbcType=CHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userNumber != null" >
        user_number = #{record.userNumber,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_relation
    set user_relation_id = #{record.userRelationId,jdbcType=BIGINT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      child_id = #{record.childId,jdbcType=BIGINT},
      member_no = #{record.memberNo,jdbcType=VARCHAR},
      relation_status = #{record.relationStatus,jdbcType=CHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      level = #{record.level,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      user_number = #{record.userNumber,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelation" >
    update user_relation
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="childId != null" >
        child_id = #{childId,jdbcType=BIGINT},
      </if>
      <if test="memberNo != null" >
        member_no = #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="relationStatus != null" >
        relation_status = #{relationStatus,jdbcType=CHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=BIGINT},
      </if>
    </set>
    where user_relation_id = #{userRelationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserRelation" >
    update user_relation
    set parent_id = #{parentId,jdbcType=BIGINT},
      child_id = #{childId,jdbcType=BIGINT},
      member_no = #{memberNo,jdbcType=VARCHAR},
      relation_status = #{relationStatus,jdbcType=CHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=BIGINT}
    where user_relation_id = #{userRelationId,jdbcType=BIGINT}
  </update>
</mapper>