<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.UserPointsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetail" >
    <id column="points_detail_id" property="pointsDetailId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="value_type" property="valueType" jdbcType="VARCHAR" />
    <result column="points_type" property="pointsType" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="goods" property="goods" jdbcType="VARCHAR" />
    <result column="point_value" property="pointValue" jdbcType="BIGINT" />
    <result column="point_balance" property="pointBalance" jdbcType="BIGINT" />
    <result column="consumer_point_value" property="consumerPointValue" jdbcType="BIGINT" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="points_rule_id" property="pointsRuleId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="def1" property="def1" jdbcType="VARCHAR" />
    <result column="def2" property="def2" jdbcType="VARCHAR" />
    <result column="def3" property="def3" jdbcType="VARCHAR" />
    <result column="out_biz_no" property="outBizNo" jdbcType="VARCHAR" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    points_detail_id, user_id, value_type, points_type, state, goods, point_value, point_balance, 
    consumer_point_value, source, points_rule_id, content, def1, def2, def3, out_biz_no, 
    raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_points_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_points_detail
    where points_detail_id = #{pointsDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_points_detail
    where points_detail_id = #{pointsDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetailExample" >
    delete from user_points_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetail" >
    insert into user_points_detail (points_detail_id, user_id, value_type, 
      points_type, state, goods, 
      point_value, point_balance, consumer_point_value, 
      source, points_rule_id, content, 
      def1, def2, def3, out_biz_no, 
      raw_add_time, raw_update_time)
    values (#{pointsDetailId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{valueType,jdbcType=VARCHAR}, 
      #{pointsType,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{goods,jdbcType=VARCHAR}, 
      #{pointValue,jdbcType=BIGINT}, #{pointBalance,jdbcType=BIGINT}, #{consumerPointValue,jdbcType=BIGINT}, 
      #{source,jdbcType=VARCHAR}, #{pointsRuleId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, #{def3,jdbcType=VARCHAR}, #{outBizNo,jdbcType=VARCHAR}, 
      #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetail" >
    insert into user_points_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pointsDetailId != null" >
        points_detail_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="valueType != null" >
        value_type,
      </if>
      <if test="pointsType != null" >
        points_type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="pointValue != null" >
        point_value,
      </if>
      <if test="pointBalance != null" >
        point_balance,
      </if>
      <if test="consumerPointValue != null" >
        consumer_point_value,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="pointsRuleId != null" >
        points_rule_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="def1 != null" >
        def1,
      </if>
      <if test="def2 != null" >
        def2,
      </if>
      <if test="def3 != null" >
        def3,
      </if>
      <if test="outBizNo != null" >
        out_biz_no,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pointsDetailId != null" >
        #{pointsDetailId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="pointsType != null" >
        #{pointsType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="pointValue != null" >
        #{pointValue,jdbcType=BIGINT},
      </if>
      <if test="pointBalance != null" >
        #{pointBalance,jdbcType=BIGINT},
      </if>
      <if test="consumerPointValue != null" >
        #{consumerPointValue,jdbcType=BIGINT},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="pointsRuleId != null" >
        #{pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null" >
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="outBizNo != null" >
        #{outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetailExample" resultType="java.lang.Integer" >
    select count(*) from user_points_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_points_detail
    <set >
      <if test="record.pointsDetailId != null" >
        points_detail_id = #{record.pointsDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.valueType != null" >
        value_type = #{record.valueType,jdbcType=VARCHAR},
      </if>
      <if test="record.pointsType != null" >
        points_type = #{record.pointsType,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.goods != null" >
        goods = #{record.goods,jdbcType=VARCHAR},
      </if>
      <if test="record.pointValue != null" >
        point_value = #{record.pointValue,jdbcType=BIGINT},
      </if>
      <if test="record.pointBalance != null" >
        point_balance = #{record.pointBalance,jdbcType=BIGINT},
      </if>
      <if test="record.consumerPointValue != null" >
        consumer_point_value = #{record.consumerPointValue,jdbcType=BIGINT},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.pointsRuleId != null" >
        points_rule_id = #{record.pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.def1 != null" >
        def1 = #{record.def1,jdbcType=VARCHAR},
      </if>
      <if test="record.def2 != null" >
        def2 = #{record.def2,jdbcType=VARCHAR},
      </if>
      <if test="record.def3 != null" >
        def3 = #{record.def3,jdbcType=VARCHAR},
      </if>
      <if test="record.outBizNo != null" >
        out_biz_no = #{record.outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_points_detail
    set points_detail_id = #{record.pointsDetailId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      value_type = #{record.valueType,jdbcType=VARCHAR},
      points_type = #{record.pointsType,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      goods = #{record.goods,jdbcType=VARCHAR},
      point_value = #{record.pointValue,jdbcType=BIGINT},
      point_balance = #{record.pointBalance,jdbcType=BIGINT},
      consumer_point_value = #{record.consumerPointValue,jdbcType=BIGINT},
      source = #{record.source,jdbcType=VARCHAR},
      points_rule_id = #{record.pointsRuleId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      def1 = #{record.def1,jdbcType=VARCHAR},
      def2 = #{record.def2,jdbcType=VARCHAR},
      def3 = #{record.def3,jdbcType=VARCHAR},
      out_biz_no = #{record.outBizNo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetail" >
    update user_points_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="valueType != null" >
        value_type = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="pointsType != null" >
        points_type = #{pointsType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="pointValue != null" >
        point_value = #{pointValue,jdbcType=BIGINT},
      </if>
      <if test="pointBalance != null" >
        point_balance = #{pointBalance,jdbcType=BIGINT},
      </if>
      <if test="consumerPointValue != null" >
        consumer_point_value = #{consumerPointValue,jdbcType=BIGINT},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="pointsRuleId != null" >
        points_rule_id = #{pointsRuleId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null" >
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null" >
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null" >
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="outBizNo != null" >
        out_biz_no = #{outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where points_detail_id = #{pointsDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserPointsDetail" >
    update user_points_detail
    set user_id = #{userId,jdbcType=BIGINT},
      value_type = #{valueType,jdbcType=VARCHAR},
      points_type = #{pointsType,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      goods = #{goods,jdbcType=VARCHAR},
      point_value = #{pointValue,jdbcType=BIGINT},
      point_balance = #{pointBalance,jdbcType=BIGINT},
      consumer_point_value = #{consumerPointValue,jdbcType=BIGINT},
      source = #{source,jdbcType=VARCHAR},
      points_rule_id = #{pointsRuleId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      out_biz_no = #{outBizNo,jdbcType=VARCHAR},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where points_detail_id = #{pointsDetailId,jdbcType=BIGINT}
  </update>
</mapper>