<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.UserBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfo" >
    <id column="user_base_id" property="userBaseId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="log_password" property="logPassword" jdbcType="VARCHAR" />
    <result column="pay_password" property="payPassword" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile_binding" property="mobileBinding" jdbcType="CHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="mail_binding" property="mailBinding" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="row_add_time" property="rowAddTime" jdbcType="TIMESTAMP" />
    <result column="row_update_time" property="rowUpdateTime" jdbcType="TIMESTAMP" />
    <result column="identity_name" property="identityName" jdbcType="VARCHAR" />
    <result column="identity_start_no" property="identityStartNo" jdbcType="VARCHAR" />
    <result column="identity_end_no" property="identityEndNo" jdbcType="VARCHAR" />
    <result column="ex_identity_no" property="exIdentityNo" jdbcType="VARCHAR" />
    <result column="real_name_authentication" property="realNameAuthentication" jdbcType="VARCHAR" />
    <result column="pwd_error_count" property="pwdErrorCount" jdbcType="INTEGER" />
    <result column="change_lock_time" property="changeLockTime" jdbcType="TIMESTAMP" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="user_level_validity_begin" property="userLevelValidityBegin" jdbcType="DATE" />
    <result column="user_level_validity_end" property="userLevelValidityEnd" jdbcType="DATE" />
    <result column="user_real_status" property="userRealStatus" jdbcType="VARCHAR" />
    <result column="certify_level" property="certifyLevel" jdbcType="INTEGER" />
    <result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    <result column="user_county" property="userCounty" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="fixed_phone" property="fixedPhone" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="belong_to" property="belongTo" jdbcType="BIGINT" />
    <result column="user_custom_type" property="userCustomType" jdbcType="VARCHAR" />
    <result column="user_custom_type1" property="userCustomType1" jdbcType="VARCHAR" />
    <result column="user_custom_type2" property="userCustomType2" jdbcType="VARCHAR" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="VARCHAR" />
    <result column="user_register_from" property="userRegisterFrom" jdbcType="VARCHAR" />
    <result column="app_register_from" property="appRegisterFrom" jdbcType="VARCHAR" />
    <result column="link_code" property="linkCode" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="is_generation_buy" property="isGenerationBuy" jdbcType="VARCHAR" />
    <result column="praise_count" property="praiseCount" jdbcType="BIGINT" />
    <result column="qr_code_push_status" property="qrCodePushStatus" jdbcType="VARCHAR" />
    <result column="company_customer_id" property="companyCustomerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_base_id, user_id, user_name, nickname, real_name, log_password, pay_password, 
    account_id, account_name, mobile, mobile_binding, mail, mail_binding, type, state, 
    row_add_time, row_update_time, identity_name, identity_start_no, identity_end_no, 
    ex_identity_no, real_name_authentication, pwd_error_count, change_lock_time, user_level, 
    user_level_validity_begin, user_level_validity_end, user_real_status, certify_level, 
    user_province, user_county, user_city, fixed_phone, zip, birthday, qq, belong_to, 
    user_custom_type, user_custom_type1, user_custom_type2, enterprise_type, user_register_from, 
    app_register_from, link_code, supplier_id, is_generation_buy, praise_count, qr_code_push_status, 
    company_customer_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_base_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_base_info
    where user_base_id = #{userBaseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_base_info
    where user_base_id = #{userBaseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfoExample" >
    delete from user_base_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfo" >
    insert into user_base_info (user_base_id, user_id, user_name, 
      nickname, real_name, log_password, 
      pay_password, account_id, account_name, 
      mobile, mobile_binding, mail, 
      mail_binding, type, state, row_add_time, 
      row_update_time, identity_name, identity_start_no, 
      identity_end_no, ex_identity_no, real_name_authentication, 
      pwd_error_count, change_lock_time, user_level, 
      user_level_validity_begin, user_level_validity_end, 
      user_real_status, certify_level, user_province, 
      user_county, user_city, fixed_phone, 
      zip, birthday, qq, 
      belong_to, user_custom_type, user_custom_type1, 
      user_custom_type2, enterprise_type, user_register_from, 
      app_register_from, link_code, supplier_id, 
      is_generation_buy, praise_count, qr_code_push_status, 
      company_customer_id)
    values (#{userBaseId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{logPassword,jdbcType=VARCHAR}, 
      #{payPassword,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{mobileBinding,jdbcType=CHAR}, #{mail,jdbcType=VARCHAR}, 
      #{mailBinding,jdbcType=CHAR}, #{type,jdbcType=CHAR}, #{state,jdbcType=CHAR}, #{rowAddTime,jdbcType=TIMESTAMP}, 
      #{rowUpdateTime,jdbcType=TIMESTAMP}, #{identityName,jdbcType=VARCHAR}, #{identityStartNo,jdbcType=VARCHAR}, 
      #{identityEndNo,jdbcType=VARCHAR}, #{exIdentityNo,jdbcType=VARCHAR}, #{realNameAuthentication,jdbcType=VARCHAR}, 
      #{pwdErrorCount,jdbcType=INTEGER}, #{changeLockTime,jdbcType=TIMESTAMP}, #{userLevel,jdbcType=VARCHAR}, 
      #{userLevelValidityBegin,jdbcType=DATE}, #{userLevelValidityEnd,jdbcType=DATE}, 
      #{userRealStatus,jdbcType=VARCHAR}, #{certifyLevel,jdbcType=INTEGER}, #{userProvince,jdbcType=VARCHAR}, 
      #{userCounty,jdbcType=VARCHAR}, #{userCity,jdbcType=VARCHAR}, #{fixedPhone,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{belongTo,jdbcType=BIGINT}, #{userCustomType,jdbcType=VARCHAR}, #{userCustomType1,jdbcType=VARCHAR}, 
      #{userCustomType2,jdbcType=VARCHAR}, #{enterpriseType,jdbcType=VARCHAR}, #{userRegisterFrom,jdbcType=VARCHAR}, 
      #{appRegisterFrom,jdbcType=VARCHAR}, #{linkCode,jdbcType=VARCHAR}, #{supplierId,jdbcType=BIGINT}, 
      #{isGenerationBuy,jdbcType=VARCHAR}, #{praiseCount,jdbcType=BIGINT}, #{qrCodePushStatus,jdbcType=VARCHAR}, 
      #{companyCustomerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfo" >
    insert into user_base_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userBaseId != null" >
        user_base_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="logPassword != null" >
        log_password,
      </if>
      <if test="payPassword != null" >
        pay_password,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="mobileBinding != null" >
        mobile_binding,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="mailBinding != null" >
        mail_binding,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="rowAddTime != null" >
        row_add_time,
      </if>
      <if test="rowUpdateTime != null" >
        row_update_time,
      </if>
      <if test="identityName != null" >
        identity_name,
      </if>
      <if test="identityStartNo != null" >
        identity_start_no,
      </if>
      <if test="identityEndNo != null" >
        identity_end_no,
      </if>
      <if test="exIdentityNo != null" >
        ex_identity_no,
      </if>
      <if test="realNameAuthentication != null" >
        real_name_authentication,
      </if>
      <if test="pwdErrorCount != null" >
        pwd_error_count,
      </if>
      <if test="changeLockTime != null" >
        change_lock_time,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="userLevelValidityBegin != null" >
        user_level_validity_begin,
      </if>
      <if test="userLevelValidityEnd != null" >
        user_level_validity_end,
      </if>
      <if test="userRealStatus != null" >
        user_real_status,
      </if>
      <if test="certifyLevel != null" >
        certify_level,
      </if>
      <if test="userProvince != null" >
        user_province,
      </if>
      <if test="userCounty != null" >
        user_county,
      </if>
      <if test="userCity != null" >
        user_city,
      </if>
      <if test="fixedPhone != null" >
        fixed_phone,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="belongTo != null" >
        belong_to,
      </if>
      <if test="userCustomType != null" >
        user_custom_type,
      </if>
      <if test="userCustomType1 != null" >
        user_custom_type1,
      </if>
      <if test="userCustomType2 != null" >
        user_custom_type2,
      </if>
      <if test="enterpriseType != null" >
        enterprise_type,
      </if>
      <if test="userRegisterFrom != null" >
        user_register_from,
      </if>
      <if test="appRegisterFrom != null" >
        app_register_from,
      </if>
      <if test="linkCode != null" >
        link_code,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="isGenerationBuy != null" >
        is_generation_buy,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="qrCodePushStatus != null" >
        qr_code_push_status,
      </if>
      <if test="companyCustomerId != null" >
        company_customer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userBaseId != null" >
        #{userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="logPassword != null" >
        #{logPassword,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null" >
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileBinding != null" >
        #{mobileBinding,jdbcType=CHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="mailBinding != null" >
        #{mailBinding,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="rowAddTime != null" >
        #{rowAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowUpdateTime != null" >
        #{rowUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="identityName != null" >
        #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="identityStartNo != null" >
        #{identityStartNo,jdbcType=VARCHAR},
      </if>
      <if test="identityEndNo != null" >
        #{identityEndNo,jdbcType=VARCHAR},
      </if>
      <if test="exIdentityNo != null" >
        #{exIdentityNo,jdbcType=VARCHAR},
      </if>
      <if test="realNameAuthentication != null" >
        #{realNameAuthentication,jdbcType=VARCHAR},
      </if>
      <if test="pwdErrorCount != null" >
        #{pwdErrorCount,jdbcType=INTEGER},
      </if>
      <if test="changeLockTime != null" >
        #{changeLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userLevelValidityBegin != null" >
        #{userLevelValidityBegin,jdbcType=DATE},
      </if>
      <if test="userLevelValidityEnd != null" >
        #{userLevelValidityEnd,jdbcType=DATE},
      </if>
      <if test="userRealStatus != null" >
        #{userRealStatus,jdbcType=VARCHAR},
      </if>
      <if test="certifyLevel != null" >
        #{certifyLevel,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null" >
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCounty != null" >
        #{userCounty,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null" >
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="belongTo != null" >
        #{belongTo,jdbcType=BIGINT},
      </if>
      <if test="userCustomType != null" >
        #{userCustomType,jdbcType=VARCHAR},
      </if>
      <if test="userCustomType1 != null" >
        #{userCustomType1,jdbcType=VARCHAR},
      </if>
      <if test="userCustomType2 != null" >
        #{userCustomType2,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterFrom != null" >
        #{userRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="appRegisterFrom != null" >
        #{appRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="linkCode != null" >
        #{linkCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="isGenerationBuy != null" >
        #{isGenerationBuy,jdbcType=VARCHAR},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="qrCodePushStatus != null" >
        #{qrCodePushStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyCustomerId != null" >
        #{companyCustomerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_base_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_base_info
    <set >
      <if test="record.userBaseId != null" >
        user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.logPassword != null" >
        log_password = #{record.logPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.payPassword != null" >
        pay_password = #{record.payPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null" >
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileBinding != null" >
        mobile_binding = #{record.mobileBinding,jdbcType=CHAR},
      </if>
      <if test="record.mail != null" >
        mail = #{record.mail,jdbcType=VARCHAR},
      </if>
      <if test="record.mailBinding != null" >
        mail_binding = #{record.mailBinding,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.rowAddTime != null" >
        row_add_time = #{record.rowAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rowUpdateTime != null" >
        row_update_time = #{record.rowUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.identityName != null" >
        identity_name = #{record.identityName,jdbcType=VARCHAR},
      </if>
      <if test="record.identityStartNo != null" >
        identity_start_no = #{record.identityStartNo,jdbcType=VARCHAR},
      </if>
      <if test="record.identityEndNo != null" >
        identity_end_no = #{record.identityEndNo,jdbcType=VARCHAR},
      </if>
      <if test="record.exIdentityNo != null" >
        ex_identity_no = #{record.exIdentityNo,jdbcType=VARCHAR},
      </if>
      <if test="record.realNameAuthentication != null" >
        real_name_authentication = #{record.realNameAuthentication,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdErrorCount != null" >
        pwd_error_count = #{record.pwdErrorCount,jdbcType=INTEGER},
      </if>
      <if test="record.changeLockTime != null" >
        change_lock_time = #{record.changeLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userLevel != null" >
        user_level = #{record.userLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.userLevelValidityBegin != null" >
        user_level_validity_begin = #{record.userLevelValidityBegin,jdbcType=DATE},
      </if>
      <if test="record.userLevelValidityEnd != null" >
        user_level_validity_end = #{record.userLevelValidityEnd,jdbcType=DATE},
      </if>
      <if test="record.userRealStatus != null" >
        user_real_status = #{record.userRealStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.certifyLevel != null" >
        certify_level = #{record.certifyLevel,jdbcType=INTEGER},
      </if>
      <if test="record.userProvince != null" >
        user_province = #{record.userProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.userCounty != null" >
        user_county = #{record.userCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.userCity != null" >
        user_city = #{record.userCity,jdbcType=VARCHAR},
      </if>
      <if test="record.fixedPhone != null" >
        fixed_phone = #{record.fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.zip != null" >
        zip = #{record.zip,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.belongTo != null" >
        belong_to = #{record.belongTo,jdbcType=BIGINT},
      </if>
      <if test="record.userCustomType != null" >
        user_custom_type = #{record.userCustomType,jdbcType=VARCHAR},
      </if>
      <if test="record.userCustomType1 != null" >
        user_custom_type1 = #{record.userCustomType1,jdbcType=VARCHAR},
      </if>
      <if test="record.userCustomType2 != null" >
        user_custom_type2 = #{record.userCustomType2,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseType != null" >
        enterprise_type = #{record.enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="record.userRegisterFrom != null" >
        user_register_from = #{record.userRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.appRegisterFrom != null" >
        app_register_from = #{record.appRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.linkCode != null" >
        link_code = #{record.linkCode,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=BIGINT},
      </if>
      <if test="record.isGenerationBuy != null" >
        is_generation_buy = #{record.isGenerationBuy,jdbcType=VARCHAR},
      </if>
      <if test="record.praiseCount != null" >
        praise_count = #{record.praiseCount,jdbcType=BIGINT},
      </if>
      <if test="record.qrCodePushStatus != null" >
        qr_code_push_status = #{record.qrCodePushStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCustomerId != null" >
        company_customer_id = #{record.companyCustomerId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_base_info
    set user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      log_password = #{record.logPassword,jdbcType=VARCHAR},
      pay_password = #{record.payPassword,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=VARCHAR},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      mobile_binding = #{record.mobileBinding,jdbcType=CHAR},
      mail = #{record.mail,jdbcType=VARCHAR},
      mail_binding = #{record.mailBinding,jdbcType=CHAR},
      type = #{record.type,jdbcType=CHAR},
      state = #{record.state,jdbcType=CHAR},
      row_add_time = #{record.rowAddTime,jdbcType=TIMESTAMP},
      row_update_time = #{record.rowUpdateTime,jdbcType=TIMESTAMP},
      identity_name = #{record.identityName,jdbcType=VARCHAR},
      identity_start_no = #{record.identityStartNo,jdbcType=VARCHAR},
      identity_end_no = #{record.identityEndNo,jdbcType=VARCHAR},
      ex_identity_no = #{record.exIdentityNo,jdbcType=VARCHAR},
      real_name_authentication = #{record.realNameAuthentication,jdbcType=VARCHAR},
      pwd_error_count = #{record.pwdErrorCount,jdbcType=INTEGER},
      change_lock_time = #{record.changeLockTime,jdbcType=TIMESTAMP},
      user_level = #{record.userLevel,jdbcType=VARCHAR},
      user_level_validity_begin = #{record.userLevelValidityBegin,jdbcType=DATE},
      user_level_validity_end = #{record.userLevelValidityEnd,jdbcType=DATE},
      user_real_status = #{record.userRealStatus,jdbcType=VARCHAR},
      certify_level = #{record.certifyLevel,jdbcType=INTEGER},
      user_province = #{record.userProvince,jdbcType=VARCHAR},
      user_county = #{record.userCounty,jdbcType=VARCHAR},
      user_city = #{record.userCity,jdbcType=VARCHAR},
      fixed_phone = #{record.fixedPhone,jdbcType=VARCHAR},
      zip = #{record.zip,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      belong_to = #{record.belongTo,jdbcType=BIGINT},
      user_custom_type = #{record.userCustomType,jdbcType=VARCHAR},
      user_custom_type1 = #{record.userCustomType1,jdbcType=VARCHAR},
      user_custom_type2 = #{record.userCustomType2,jdbcType=VARCHAR},
      enterprise_type = #{record.enterpriseType,jdbcType=VARCHAR},
      user_register_from = #{record.userRegisterFrom,jdbcType=VARCHAR},
      app_register_from = #{record.appRegisterFrom,jdbcType=VARCHAR},
      link_code = #{record.linkCode,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=BIGINT},
      is_generation_buy = #{record.isGenerationBuy,jdbcType=VARCHAR},
      praise_count = #{record.praiseCount,jdbcType=BIGINT},
      qr_code_push_status = #{record.qrCodePushStatus,jdbcType=VARCHAR},
      company_customer_id = #{record.companyCustomerId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfo" >
    update user_base_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="logPassword != null" >
        log_password = #{logPassword,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null" >
        pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileBinding != null" >
        mobile_binding = #{mobileBinding,jdbcType=CHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="mailBinding != null" >
        mail_binding = #{mailBinding,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="rowAddTime != null" >
        row_add_time = #{rowAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowUpdateTime != null" >
        row_update_time = #{rowUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="identityName != null" >
        identity_name = #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="identityStartNo != null" >
        identity_start_no = #{identityStartNo,jdbcType=VARCHAR},
      </if>
      <if test="identityEndNo != null" >
        identity_end_no = #{identityEndNo,jdbcType=VARCHAR},
      </if>
      <if test="exIdentityNo != null" >
        ex_identity_no = #{exIdentityNo,jdbcType=VARCHAR},
      </if>
      <if test="realNameAuthentication != null" >
        real_name_authentication = #{realNameAuthentication,jdbcType=VARCHAR},
      </if>
      <if test="pwdErrorCount != null" >
        pwd_error_count = #{pwdErrorCount,jdbcType=INTEGER},
      </if>
      <if test="changeLockTime != null" >
        change_lock_time = #{changeLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userLevelValidityBegin != null" >
        user_level_validity_begin = #{userLevelValidityBegin,jdbcType=DATE},
      </if>
      <if test="userLevelValidityEnd != null" >
        user_level_validity_end = #{userLevelValidityEnd,jdbcType=DATE},
      </if>
      <if test="userRealStatus != null" >
        user_real_status = #{userRealStatus,jdbcType=VARCHAR},
      </if>
      <if test="certifyLevel != null" >
        certify_level = #{certifyLevel,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null" >
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCounty != null" >
        user_county = #{userCounty,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null" >
        fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="belongTo != null" >
        belong_to = #{belongTo,jdbcType=BIGINT},
      </if>
      <if test="userCustomType != null" >
        user_custom_type = #{userCustomType,jdbcType=VARCHAR},
      </if>
      <if test="userCustomType1 != null" >
        user_custom_type1 = #{userCustomType1,jdbcType=VARCHAR},
      </if>
      <if test="userCustomType2 != null" >
        user_custom_type2 = #{userCustomType2,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        enterprise_type = #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterFrom != null" >
        user_register_from = #{userRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="appRegisterFrom != null" >
        app_register_from = #{appRegisterFrom,jdbcType=VARCHAR},
      </if>
      <if test="linkCode != null" >
        link_code = #{linkCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="isGenerationBuy != null" >
        is_generation_buy = #{isGenerationBuy,jdbcType=VARCHAR},
      </if>
      <if test="praiseCount != null" >
        praise_count = #{praiseCount,jdbcType=BIGINT},
      </if>
      <if test="qrCodePushStatus != null" >
        qr_code_push_status = #{qrCodePushStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyCustomerId != null" >
        company_customer_id = #{companyCustomerId,jdbcType=BIGINT},
      </if>
    </set>
    where user_base_id = #{userBaseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBaseInfo" >
    update user_base_info
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      log_password = #{logPassword,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      mobile_binding = #{mobileBinding,jdbcType=CHAR},
      mail = #{mail,jdbcType=VARCHAR},
      mail_binding = #{mailBinding,jdbcType=CHAR},
      type = #{type,jdbcType=CHAR},
      state = #{state,jdbcType=CHAR},
      row_add_time = #{rowAddTime,jdbcType=TIMESTAMP},
      row_update_time = #{rowUpdateTime,jdbcType=TIMESTAMP},
      identity_name = #{identityName,jdbcType=VARCHAR},
      identity_start_no = #{identityStartNo,jdbcType=VARCHAR},
      identity_end_no = #{identityEndNo,jdbcType=VARCHAR},
      ex_identity_no = #{exIdentityNo,jdbcType=VARCHAR},
      real_name_authentication = #{realNameAuthentication,jdbcType=VARCHAR},
      pwd_error_count = #{pwdErrorCount,jdbcType=INTEGER},
      change_lock_time = #{changeLockTime,jdbcType=TIMESTAMP},
      user_level = #{userLevel,jdbcType=VARCHAR},
      user_level_validity_begin = #{userLevelValidityBegin,jdbcType=DATE},
      user_level_validity_end = #{userLevelValidityEnd,jdbcType=DATE},
      user_real_status = #{userRealStatus,jdbcType=VARCHAR},
      certify_level = #{certifyLevel,jdbcType=INTEGER},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_county = #{userCounty,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      belong_to = #{belongTo,jdbcType=BIGINT},
      user_custom_type = #{userCustomType,jdbcType=VARCHAR},
      user_custom_type1 = #{userCustomType1,jdbcType=VARCHAR},
      user_custom_type2 = #{userCustomType2,jdbcType=VARCHAR},
      enterprise_type = #{enterpriseType,jdbcType=VARCHAR},
      user_register_from = #{userRegisterFrom,jdbcType=VARCHAR},
      app_register_from = #{appRegisterFrom,jdbcType=VARCHAR},
      link_code = #{linkCode,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      is_generation_buy = #{isGenerationBuy,jdbcType=VARCHAR},
      praise_count = #{praiseCount,jdbcType=BIGINT},
      qr_code_push_status = #{qrCodePushStatus,jdbcType=VARCHAR},
      company_customer_id = #{companyCustomerId,jdbcType=BIGINT}
    where user_base_id = #{userBaseId,jdbcType=VARCHAR}
  </update>
</mapper>