<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.UserBankInfoMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_base_id" property="userBaseId" jdbcType="VARCHAR" />
    <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="bank_key" property="bankKey" jdbcType="VARCHAR" />
    <result column="bank_province" property="bankProvince" jdbcType="VARCHAR" />
    <result column="bank_city" property="bankCity" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="bank_order" property="bankOrder" jdbcType="INTEGER" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    <result column="pactNo" property="pactno" jdbcType="VARCHAR" />
    <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    <result column="card_use_type" property="cardUseType" jdbcType="VARCHAR" />
    <result column="public_tag" property="publicTag" jdbcType="VARCHAR" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="certification_img_url" property="certificationImgUrl" jdbcType="VARCHAR" />
    <result column="dismissed_suggestions" property="dismissedSuggestions" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_base_id, bank_card_no, bank_type, bank_key, bank_province, bank_city, is_default, 
    bank_order, raw_add_time, raw_update_time, is_del, pactNo, bank_account_name, card_use_type, 
    public_tag, approve_status, certification_img_url, dismissed_suggestions, source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_bank_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_bank_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfoExample" >
    delete from user_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfo" >
    insert into user_bank_info (id, user_base_id, bank_card_no, 
      bank_type, bank_key, bank_province, 
      bank_city, is_default, bank_order, 
      raw_add_time, raw_update_time, is_del, 
      pactNo, bank_account_name, card_use_type, 
      public_tag, approve_status, certification_img_url, 
      dismissed_suggestions, source)
    values (#{id,jdbcType=BIGINT}, #{userBaseId,jdbcType=VARCHAR}, #{bankCardNo,jdbcType=VARCHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{bankKey,jdbcType=VARCHAR}, #{bankProvince,jdbcType=VARCHAR}, 
      #{bankCity,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR}, #{bankOrder,jdbcType=INTEGER}, 
      #{rawAddTime,jdbcType=TIMESTAMP}, #{rawUpdateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=VARCHAR}, 
      #{pactno,jdbcType=VARCHAR}, #{bankAccountName,jdbcType=VARCHAR}, #{cardUseType,jdbcType=VARCHAR}, 
      #{publicTag,jdbcType=VARCHAR}, #{approveStatus,jdbcType=VARCHAR}, #{certificationImgUrl,jdbcType=VARCHAR}, 
      #{dismissedSuggestions,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfo" >
    insert into user_bank_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userBaseId != null" >
        user_base_id,
      </if>
      <if test="bankCardNo != null" >
        bank_card_no,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="bankKey != null" >
        bank_key,
      </if>
      <if test="bankProvince != null" >
        bank_province,
      </if>
      <if test="bankCity != null" >
        bank_city,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="bankOrder != null" >
        bank_order,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="pactno != null" >
        pactNo,
      </if>
      <if test="bankAccountName != null" >
        bank_account_name,
      </if>
      <if test="cardUseType != null" >
        card_use_type,
      </if>
      <if test="publicTag != null" >
        public_tag,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="certificationImgUrl != null" >
        certification_img_url,
      </if>
      <if test="dismissedSuggestions != null" >
        dismissed_suggestions,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userBaseId != null" >
        #{userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null" >
        #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null" >
        #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="bankOrder != null" >
        #{bankOrder,jdbcType=INTEGER},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="pactno != null" >
        #{pactno,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="cardUseType != null" >
        #{cardUseType,jdbcType=VARCHAR},
      </if>
      <if test="publicTag != null" >
        #{publicTag,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="certificationImgUrl != null" >
        #{certificationImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="dismissedSuggestions != null" >
        #{dismissedSuggestions,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_bank_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userBaseId != null" >
        user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardNo != null" >
        bank_card_no = #{record.bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        bank_type = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankKey != null" >
        bank_key = #{record.bankKey,jdbcType=VARCHAR},
      </if>
      <if test="record.bankProvince != null" >
        bank_province = #{record.bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCity != null" >
        bank_city = #{record.bankCity,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.bankOrder != null" >
        bank_order = #{record.bankOrder,jdbcType=INTEGER},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=VARCHAR},
      </if>
      <if test="record.pactno != null" >
        pactNo = #{record.pactno,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccountName != null" >
        bank_account_name = #{record.bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardUseType != null" >
        card_use_type = #{record.cardUseType,jdbcType=VARCHAR},
      </if>
      <if test="record.publicTag != null" >
        public_tag = #{record.publicTag,jdbcType=VARCHAR},
      </if>
      <if test="record.approveStatus != null" >
        approve_status = #{record.approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationImgUrl != null" >
        certification_img_url = #{record.certificationImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.dismissedSuggestions != null" >
        dismissed_suggestions = #{record.dismissedSuggestions,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_bank_info
    set id = #{record.id,jdbcType=BIGINT},
      user_base_id = #{record.userBaseId,jdbcType=VARCHAR},
      bank_card_no = #{record.bankCardNo,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=VARCHAR},
      bank_key = #{record.bankKey,jdbcType=VARCHAR},
      bank_province = #{record.bankProvince,jdbcType=VARCHAR},
      bank_city = #{record.bankCity,jdbcType=VARCHAR},
      is_default = #{record.isDefault,jdbcType=VARCHAR},
      bank_order = #{record.bankOrder,jdbcType=INTEGER},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      is_del = #{record.isDel,jdbcType=VARCHAR},
      pactNo = #{record.pactno,jdbcType=VARCHAR},
      bank_account_name = #{record.bankAccountName,jdbcType=VARCHAR},
      card_use_type = #{record.cardUseType,jdbcType=VARCHAR},
      public_tag = #{record.publicTag,jdbcType=VARCHAR},
      approve_status = #{record.approveStatus,jdbcType=VARCHAR},
      certification_img_url = #{record.certificationImgUrl,jdbcType=VARCHAR},
      dismissed_suggestions = #{record.dismissedSuggestions,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfo" >
    update user_bank_info
    <set >
      <if test="userBaseId != null" >
        user_base_id = #{userBaseId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        bank_key = #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null" >
        bank_province = #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null" >
        bank_city = #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="bankOrder != null" >
        bank_order = #{bankOrder,jdbcType=INTEGER},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="pactno != null" >
        pactNo = #{pactno,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="cardUseType != null" >
        card_use_type = #{cardUseType,jdbcType=VARCHAR},
      </if>
      <if test="publicTag != null" >
        public_tag = #{publicTag,jdbcType=VARCHAR},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=VARCHAR},
      </if>
      <if test="certificationImgUrl != null" >
        certification_img_url = #{certificationImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="dismissedSuggestions != null" >
        dismissed_suggestions = #{dismissedSuggestions,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserBankInfo" >
    update user_bank_info
    set user_base_id = #{userBaseId,jdbcType=VARCHAR},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      bank_key = #{bankKey,jdbcType=VARCHAR},
      bank_province = #{bankProvince,jdbcType=VARCHAR},
      bank_city = #{bankCity,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=VARCHAR},
      bank_order = #{bankOrder,jdbcType=INTEGER},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=VARCHAR},
      pactNo = #{pactno,jdbcType=VARCHAR},
      bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      card_use_type = #{cardUseType,jdbcType=VARCHAR},
      public_tag = #{publicTag,jdbcType=VARCHAR},
      approve_status = #{approveStatus,jdbcType=VARCHAR},
      certification_img_url = #{certificationImgUrl,jdbcType=VARCHAR},
      dismissed_suggestions = #{dismissedSuggestions,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>