<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.tihuzhai.dao.mappers.auto.UserIntegralDetailMapper" >
  <resultMap id="BaseResultMap" type="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="direction" property="direction" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="changeType" property="changetype" jdbcType="VARCHAR" />
    <result column="relation_user_id" property="relationUserId" jdbcType="BIGINT" />
    <result column="out_biz_no" property="outBizNo" jdbcType="VARCHAR" />
    <result column="integral_balance" property="integralBalance" jdbcType="BIGINT" />
    <result column="raw_add_time" property="rawAddTime" jdbcType="TIMESTAMP" />
    <result column="raw_update_time" property="rawUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, direction, amount, changeType, relation_user_id, out_biz_no, integral_balance, 
    raw_add_time, raw_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_integral_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_integral_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_integral_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetailExample" >
    delete from user_integral_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetail" >
    insert into user_integral_detail (id, user_id, direction, 
      amount, changeType, relation_user_id, 
      out_biz_no, integral_balance, raw_add_time, 
      raw_update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{direction,jdbcType=VARCHAR}, 
      #{amount,jdbcType=BIGINT}, #{changetype,jdbcType=VARCHAR}, #{relationUserId,jdbcType=BIGINT}, 
      #{outBizNo,jdbcType=VARCHAR}, #{integralBalance,jdbcType=BIGINT}, #{rawAddTime,jdbcType=TIMESTAMP}, 
      #{rawUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetail" >
    insert into user_integral_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="changetype != null" >
        changeType,
      </if>
      <if test="relationUserId != null" >
        relation_user_id,
      </if>
      <if test="outBizNo != null" >
        out_biz_no,
      </if>
      <if test="integralBalance != null" >
        integral_balance,
      </if>
      <if test="rawAddTime != null" >
        raw_add_time,
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="changetype != null" >
        #{changetype,jdbcType=VARCHAR},
      </if>
      <if test="relationUserId != null" >
        #{relationUserId,jdbcType=BIGINT},
      </if>
      <if test="outBizNo != null" >
        #{outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="integralBalance != null" >
        #{integralBalance,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetailExample" resultType="java.lang.Integer" >
    select count(*) from user_integral_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_integral_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.direction != null" >
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.changetype != null" >
        changeType = #{record.changetype,jdbcType=VARCHAR},
      </if>
      <if test="record.relationUserId != null" >
        relation_user_id = #{record.relationUserId,jdbcType=BIGINT},
      </if>
      <if test="record.outBizNo != null" >
        out_biz_no = #{record.outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="record.integralBalance != null" >
        integral_balance = #{record.integralBalance,jdbcType=BIGINT},
      </if>
      <if test="record.rawAddTime != null" >
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null" >
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_integral_detail
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      direction = #{record.direction,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      changeType = #{record.changetype,jdbcType=VARCHAR},
      relation_user_id = #{record.relationUserId,jdbcType=BIGINT},
      out_biz_no = #{record.outBizNo,jdbcType=VARCHAR},
      integral_balance = #{record.integralBalance,jdbcType=BIGINT},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetail" >
    update user_integral_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="changetype != null" >
        changeType = #{changetype,jdbcType=VARCHAR},
      </if>
      <if test="relationUserId != null" >
        relation_user_id = #{relationUserId,jdbcType=BIGINT},
      </if>
      <if test="outBizNo != null" >
        out_biz_no = #{outBizNo,jdbcType=VARCHAR},
      </if>
      <if test="integralBalance != null" >
        integral_balance = #{integralBalance,jdbcType=BIGINT},
      </if>
      <if test="rawAddTime != null" >
        raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rawUpdateTime != null" >
        raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shusheng.tihuzhai.dao.entity.auto.UserIntegralDetail" >
    update user_integral_detail
    set user_id = #{userId,jdbcType=BIGINT},
      direction = #{direction,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      changeType = #{changetype,jdbcType=VARCHAR},
      relation_user_id = #{relationUserId,jdbcType=BIGINT},
      out_biz_no = #{outBizNo,jdbcType=VARCHAR},
      integral_balance = #{integralBalance,jdbcType=BIGINT},
      raw_add_time = #{rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{rawUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>